[2007-02-09 21:51] bjhargrave opened #13 "LogService mapping of BundleEvents"
Original bug ID: [BZ#446](https://osgi.org/members/bugzilla/show_bug.cgi?id=446)
From: @bjhargrave
Reported version: R4 V4.1

[2010-06-18 15:15] bjhargrave opened #14 "Cmpn 4.2: testDelayReference2(org.osgi.test.cases.provisioning.junit.ProvisioningTests)"
Original bug ID: [BZ#1664](https://osgi.org/members/bugzilla/show_bug.cgi?id=1664)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1502](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231502%22)

[2010-06-18 15:45] bjhargrave opened #15 "Core 4.2: testMoreConditions(org.osgi.test.cases.condpermadmin.junit.ConditionalTestControl)"
Original bug ID: [BZ#1665](https://osgi.org/members/bugzilla/show_bug.cgi?id=1665)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1484](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231484%22)

[2010-06-18 16:45] bjhargrave opened #16 "Enterprise 4.2: testServiceRanking(TestInitialContextFactory) and testServiceRanking(TestJNDIContextManager)"
Original bug ID: [BZ#1666](https://osgi.org/members/bugzilla/show_bug.cgi?id=1666)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1644](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231644%22)

[2010-06-18 16:50] bjhargrave opened #17 "Enterprise 4.2: testExceptions(various JMX test classes)"
Original bug ID: [BZ#1667](https://osgi.org/members/bugzilla/show_bug.cgi?id=1667)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1645](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231645%22)

[2010-06-28 19:42] bjhargrave opened #18 "Core 4.2: testMultipleBundlesOnStack(org.osgi.test.cases.condpermadmin.junit.ConditionalTestControl)"
Original bug ID: [BZ#1671](https://osgi.org/members/bugzilla/show_bug.cgi?id=1671)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1485](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231485%22)

[2010-08-31 20:30] bjhargrave opened #19 "Cmpn 4.2: testDeploymentPackageGetHeader(org.osgi.test.cases.deploymentadmin.tc1.tbc.DeploymentTestControl)"
Original bug ID: [BZ#1727](https://osgi.org/members/bugzilla/show_bug.cgi?id=1727)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1552](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231552%22)

[2010-10-07 17:22] bjhargrave opened #20 "Core 4.2: org.osgi.test.cases.framework.secure.junit.permissions.FilteredTestControl"
Original bug ID: [BZ#1766](https://osgi.org/members/bugzilla/show_bug.cgi?id=1766)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1507](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231507%22)

[2011-05-25 19:19] bjhargrave opened #21 "Enterprise 4.2: testExportImportManually(RemoteServiceAdminTest)"
Original bug ID: [BZ#2021](https://osgi.org/members/bugzilla/show_bug.cgi?id=2021)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1965](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231965%22)

[2011-05-25 19:24] bjhargrave opened #22 "Enterprise 4.2: testExportImportManually(RemoteServiceAdminTest)"
Original bug ID: [BZ#2022](https://osgi.org/members/bugzilla/show_bug.cgi?id=2022)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1985](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231985%22)

[2011-05-25 19:32] bjhargrave opened #23 "Enterprise 4.2: testForceExportFailure(RemoteServiceAdminExportTest)"
Original bug ID: [BZ#2023](https://osgi.org/members/bugzilla/show_bug.cgi?id=2023)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1995](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231995%22)

[2011-05-25 19:47] bjhargrave opened #24 "Enterprise 4.2: testExportMultipleRegistrations(RemoteServiceAdminExportTest)"
Original bug ID: [BZ#2025](https://osgi.org/members/bugzilla/show_bug.cgi?id=2025)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1989](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231989%22)

[2011-05-25 20:50] bjhargrave opened #25 "Core 4.2: testExecPermission(FrameworkLaunchTests) on Windows"
Original bug ID: [BZ#2026](https://osgi.org/members/bugzilla/show_bug.cgi?id=2026)
From: @bjhargrave
Reported version: R4 V4.2

Depends on:   [BZ#1981](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%231981%22)

[2015-08-06 07:49] bjhargrave opened #26 "[rsa] RemoteServiceAdminEvent does not provide EndpointDescription upon unregistration"
Original bug ID: [BZ#2861](https://osgi.org/members/bugzilla/show_bug.cgi?id=2861)
From: @timothyjward
Reported version: R6

[2015-12-10 07:02] bjhargrave opened #27 "R6: ServletTestCase#test_140_4_9 and FilterTestCase#test_table_140_5_HTTP_WHITEBOARD_FILTER_PATTERN (HTTP Whiteboard Service)"
Original bug ID: [BZ#2890](https://osgi.org/members/bugzilla/show_bug.cgi?id=2890)
From: @cziegeler
Reported version: R6

Depends on:   [BZ#2886](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%232886%22)

[2017-01-11 16:48] bjhargrave opened #28 "JPA Service CT contains erroneous checks"
Original bug ID: [BZ#2965](https://osgi.org/members/bugzilla/show_bug.cgi?id=2965)
From: @timothyjward
Reported version: R6

[2017-06-01 10:27] bjhargrave opened #29 "[cm] Include change count in event"
Original bug ID: [BZ#2986](https://osgi.org/members/bugzilla/show_bug.cgi?id=2986)
From: @pkriens
Reported version: R7

[2017-06-30 14:55] bjhargrave opened #30 "Both Equinox and Felix have non standard behaviour for ServiceReference.isAssignableTo"
Original bug ID: [BZ#2994](https://osgi.org/members/bugzilla/show_bug.cgi?id=2994)
From: @timothyjward
Reported version: R6

[2018-03-11 00:10] bjhargrave opened #31 "[http whiteboard] add support for ServletContainerInitializer"
Original bug ID: [BZ#3061](https://osgi.org/members/bugzilla/show_bug.cgi?id=3061)
From: @rotty3000
Reported version: R7

[2018-04-10 08:02] bjhargrave opened #32 "[DS] Allow @Reference to get service only by a target filter regardless of the Services ObjectClass"
Original bug ID: [BZ#3066](https://osgi.org/members/bugzilla/show_bug.cgi?id=3066)
From: @juergen-albert
Reported version: R7

[2018-04-12 17:01] bjhargrave opened #33 "[log] enhance the logger names for legacy event mappings"
Original bug ID: [BZ#3071](https://osgi.org/members/bugzilla/show_bug.cgi?id=3071)
From: @rotty3000
Reported version: R7

[2018-06-29 10:07] bjhargrave opened #34 "[core] Add Map/Dictionary converter to the org.osgi.framework APIs"
Original bug ID: [BZ#3081](https://osgi.org/members/bugzilla/show_bug.cgi?id=3081)
From: @rinswind
Reported version: R7

See also: [BZ#3091](https://github.com/osgi/osgi/issues?q=is%3Aissue%20%22Original%20bug%20ID%3A%20BZ%233091%22)

[2018-07-17 18:49] bjhargrave opened #35 "[framework] there is no CT test which covers a "normal bundle requiring capability provided by a framework extension""
Original bug ID: [BZ#3083](https://osgi.org/members/bugzilla/show_bug.cgi?id=3083)
From: @rotty3000
Reported version: R7

[2018-08-18 15:08] bjhargrave opened #36 "[jaxrs whiteboard] incorrect namespace for JSONRequired"
Original bug ID: [BZ#3085](https://osgi.org/members/bugzilla/show_bug.cgi?id=3085)
From: @rotty3000
Reported version: R7

[2018-09-10 09:01] bjhargrave opened #37 "Native Promise Support for JAX-RS Resources"
Original bug ID: [BZ#3087](https://osgi.org/members/bugzilla/show_bug.cgi?id=3087)
From: @timothyjward
Reported version: R7

[2018-09-16 16:16] bjhargrave opened #38 "[service loader mediator] support for prototype scope"
Original bug ID: [BZ#3088](https://osgi.org/members/bugzilla/show_bug.cgi?id=3088)
From: @rotty3000
Reported version: R7

[2018-09-25 12:36] bjhargrave opened #39 "Improve documentation of HttpWhiteboardResource Annotation"
Original bug ID: [BZ#3089](https://osgi.org/members/bugzilla/show_bug.cgi?id=3089)
From: @juergen-albert
Reported version: R7

[2018-09-26 16:29] bjhargrave opened #40 "Upgrade the Semantic Versioning whitepaper: breaking change introduces new contract"
Original bug ID: [BZ#3090](https://osgi.org/members/bugzilla/show_bug.cgi?id=3090)
From: @rinswind
Reported version: R7

[2018-12-12 19:27] bjhargrave opened #41 "Detected some gap in test cases org.osgi.test.cases.log"
Original bug ID: [BZ#3099](https://osgi.org/members/bugzilla/show_bug.cgi?id=3099)
From: @anjumfatima90
Reported version: R7

[2019-01-16 17:39] bjhargrave opened #42 "[cm] spec is vague on if modifications from rank <0 or >1000 are ignored, but CT mandates it"
Original bug ID: [BZ#3102](https://osgi.org/members/bugzilla/show_bug.cgi?id=3102)
From: @tjwatson
Reported version: R7

[2019-01-18 16:05] bjhargrave opened #43 "[Converter] Should custom rules/error handlers be applied in reverse order?"
Original bug ID: [BZ#3106](https://osgi.org/members/bugzilla/show_bug.cgi?id=3106)
From: @bosschaert
Reported version: R7

[2019-01-25 09:51] bjhargrave opened #44 "[PushStream] PushStream#onError has Documentation of onClose"
Original bug ID: [BZ#3107](https://osgi.org/members/bugzilla/show_bug.cgi?id=3107)
From: @juergen-albert
Reported version: R7

[2019-06-05 10:30] bjhargrave opened #45 "Converter Map conversion algorithm is unclear when keys and values may be null"
Original bug ID: [BZ#3120](https://osgi.org/members/bugzilla/show_bug.cgi?id=3120)
From: @timothyjward
Reported version: R7

[2019-09-13 17:55] bjhargrave opened #46 "BundleWiringTests.testOSGiEE() fails on Java 9 or higher"
Original bug ID: [BZ#3122](https://osgi.org/members/bugzilla/show_bug.cgi?id=3122)
From: @tjwatson
Reported version: R7

[2019-09-13 17:59] bjhargrave opened #47 "testHiddenPackages001 fails on Java 9+"
Original bug ID: [BZ#3123](https://osgi.org/members/bugzilla/show_bug.cgi?id=3123)
From: @tjwatson
Reported version: R7

[2019-10-11 06:58] bjhargrave opened #48 "org.osgi.test.cases.framework.launch.secure is not correct"
Original bug ID: [BZ#3125](https://osgi.org/members/bugzilla/show_bug.cgi?id=3125)
From: Georgi Boyvalenkov &lt;<georgi.boyvalenkov@bosch-si.com>&gt;
Reported version: R6

[2019-10-11 07:02] bjhargrave opened #49 "Service Loader test case is not correct"
Original bug ID: [BZ#3128](https://osgi.org/members/bugzilla/show_bug.cgi?id=3128)
From: Georgi Boyvalenkov &lt;<georgi.boyvalenkov@bosch-si.com>&gt;
Reported version: R6

[2019-10-11 07:04] bjhargrave opened #50 "Http whiteboard test depends on invalid javax.servlet version"
Original bug ID: [BZ#3130](https://osgi.org/members/bugzilla/show_bug.cgi?id=3130)
From: Georgi Boyvalenkov &lt;<georgi.boyvalenkov@bosch-si.com>&gt;
Reported version: R6

[2020-01-03 18:57] bjhargrave opened #51 "[DTO] should DTO Map keys be limited to scalar types"
Original bug ID: [BZ#3136](https://osgi.org/members/bugzilla/show_bug.cgi?id=3136)
From: @rotty3000
Reported version: R7

[2020-02-04 17:39] bjhargrave opened #52 "Make sure we mention Java 8 as a requirement for R8 Core specification"
Original bug ID: [BZ#3143](https://osgi.org/members/bugzilla/show_bug.cgi?id=3143)
From: @tjwatson
Reported version: R8

[2020-02-07 21:51] bjhargrave opened #53 "Module name for framework implementation"
Original bug ID: [BZ#3144](https://osgi.org/members/bugzilla/show_bug.cgi?id=3144)
From: @tjwatson
Reported version: R8

[2020-02-26 14:24] bjhargrave opened #54 "New specs for Jakarta EE 9"
Original bug ID: [BZ#3145](https://osgi.org/members/bugzilla/show_bug.cgi?id=3145)
From: @tjwatson
Reported version: R8

[2020-04-01 14:09] bjhargrave opened #55 "[connect] Javadoc review"
Original bug ID: [BZ#3146](https://osgi.org/members/bugzilla/show_bug.cgi?id=3146)
From: @tjwatson
Reported version: R8

[2020-04-28 14:38] tjwatson opened #2 "Add item about implied permission for condition service get"

[2020-04-30 14:14] #39 closed, assigned to cziegeler

[2020-05-01 10:26] juergen-albert opened #59 "HttpWhiteboard and Servlet 4.0"
The Servlet 4.0 Spec is out for a while now and I stumbled over a couple libraries already, that build upon it. I've no real idea what the changes are at the moment, that warranted a major version change, but the whiteboard becomes incompatible with newer Servlets.

Thus I think we need to have a closer look at it. Has anybody already worked with the new Spec?

Maybe we can come up with a fancy id

[2020-05-05 17:35] #14 closed, assigned to nobody

[2020-05-05 17:35] #15 closed, assigned to nobody

[2020-05-05 17:35] #16 closed, assigned to nobody

[2020-05-05 17:35] #17 closed, assigned to nobody

[2020-05-05 17:35] #18 closed, assigned to nobody

[2020-05-05 17:35] #19 closed, assigned to nobody

[2020-05-05 17:35] #20 closed, assigned to nobody

[2020-05-05 17:35] #21 closed, assigned to nobody

[2020-05-05 17:35] #22 closed, assigned to nobody

[2020-05-05 17:35] #23 closed, assigned to nobody

[2020-05-05 17:35] #25 closed, assigned to nobody

[2020-05-05 17:37] #27 closed, assigned to nobody

[2020-05-05 17:38] #24 closed, assigned to nobody

[2020-05-06 03:31] #52 closed, assigned to bjhargrave

[2020-05-06 19:10] #41 closed, assigned to anjumfatima90

[2020-05-08 08:04] juergen-albert opened #66 "[Condition Spec] Add Bundle Conditions"
We quite often work with or in older Projects. Nowadays we would use Whiteboards and Components/Services  to initialize things, older Bundles often use logic in the `BundleActivator` or use magic like having a Service, that looks through all Bundles and loads things that are identified by some marker in the Manifest. DS is then of no use, because we have no services that we can use as a Marker. Th

[2020-05-08 08:28] juergen-albert opened #67 "[Core] add Bundle State Enum"
In alignment with our goal, to make OSGi look and feel more modern, it would be nice to such an Enum as a convenient addition.

I would propose to add the following Enum:

[code]
(I've written the int values from memory and I'm quite sure that they are not the correct ones. They should be the same as the actual Bundle state values).

In addition to that we can add a `getStateEnum()` Method to the

[2020-05-08 13:44] bjhargrave opened #68 "Compendium spec cannot directly reference linkend in Core spec"
https://github.com/osgi/osgi/blob/9145b0d3a3ad5217ef9e5556bc3f93972ff7b124/osgi.specs/docbook/156/service.condition.factory.xml#L128-L132

[code]

Docbook in the Compendium spec cannot directly reference a linkend in Core. Core is a separate book.

[2020-05-08 19:31] #2 closed, assigned to tjwatson

[2020-05-08 20:28] tjwatson opened #71 "Add Log Service to core"
This is not a request to require framework implementations to provide the Log Service implementation.  Instead it is a request to make the org.osgi.service.log packages part of the core api JAR similar to how the service tracker is.

[2020-05-08 20:59] #30 closed, assigned to tjwatson

[2020-05-11 18:18] #67 closed, assigned to nobody

[2020-05-11 19:59] #66 closed, assigned to juergen-albert

[2020-05-11 20:28] #34 closed, assigned to tjwatson

[2020-05-11 20:59] #13 closed, assigned to tjwatson

[2020-05-11 21:52] #33 closed, assigned to tjwatson

[2020-05-12 19:27] #42 closed, assigned to tjwatson

[2020-05-13 14:34] #53 closed, assigned to tjwatson

[2020-05-13 15:21] #47 closed, assigned to tjwatson, anjumfatima90

[2020-05-13 16:05] #46 closed, assigned to tjwatson, anjumfatima90

[2020-05-13 16:24] maeomichi opened #84 "build error on core/059/without-condition-sequence.svg and condition-sequence.svg"
In my github action, following errors are detected.

------
ERROR on /home/runner/work/osgi/osgi/osgi.specs/docbook/core/059/without-condition-sequence.svg
Rasterizing /home/runner/work/osgi/osgi/osgi.specs/docbook/core/059/condition-sequence.svg to ../../../../generated/images/core/059-condition-sequence.png
org.apache.batik.transcoder.TranscoderException: null
Rasterizing /home/runner/work/osgi/

[2020-05-15 22:56] #48 closed, assigned to tjwatson, anjumfatima90

[2020-05-18 13:29] #35 closed, assigned to tjwatson, anjumfatima90

[2020-05-19 13:27] #55 closed, assigned to bjhargrave

[2020-05-27 13:31] tjwatson opened #94 "Condition Javadoc scrub"
Need to finalize the javadoc for Condition in Core.

[2020-05-28 20:05] anjumfatima90 opened #95 "Fix the intermittent failures and reduce the time to run the tests in org.osgi.test.cases.cm.junit"

[2020-05-28 20:29] #84 closed, assigned to nobody

[2020-06-03 14:20] bjhargrave opened #100 "Need for Referenced annotation"
We currently have an Export annotation which can be use in a package-info.java file to mark the package for export.

We also need something to declare the need for an import. Sometimes a reference to a package is "hidden" in dynamic code execution.  See https://github.com/osgi/osgi-test/issues/118 for an example. It would be useful to have an annotation, which could be applied anywhere, which woul

[2020-06-03 18:27] #100 closed, assigned to nobody

[2020-06-03 18:27] #94 closed, assigned to bjhargrave

[2020-06-11 14:36] bjhargrave opened #106 "Consider renaming `master` branch to `main` for inclusivity"
In comport with being a more inclusive world, we should consider renaming the "main" branch from `master` to `main`.

[2020-06-12 13:09] #106 closed, assigned to nobody

[2020-06-15 13:39] timothyjward opened #108 "Support for `record` types in Java 16"
Java Record types are currently not quite final (as of June 2020) and so we can't reference them in the OSGi specifications yet. This bug is being used to collect places that we want to update to support Record types as soon as they become final.

- [ ] Converter - the converter should be able to convert to/from record types transparently
    * Could be issues with reflecting the constructor
- [ ]

[2020-06-24 17:49] #51 closed, assigned to rotty3000, bjhargrave

[2020-06-27 00:03] #71 closed, assigned to bjhargrave

[2020-06-27 18:08] bjhargrave opened #113 "Status of `org.osgi.test.cases.condition` project"
There is an incomplete `org.osgi.test.cases.condition` project. It has one test method which only fails.

Is this supposed to do something for the new Condition spec? Is it supposed to be part of the Core CT package?

[2020-06-30 21:44] #113 closed, assigned to tjwatson, juergen-albert

[2020-07-16 12:40] pkriens opened #120 "Test suite configurator"
A number of test cases in the Configurator test create a framework and load a set of bundles specified by a system property; this is necessary to test the startup behavior.

The code looks like:

    private Framework startFramework(Map<String,String> configuration)
			throws Exception {
		String frameworkFactoryClassName = getFrameworkFactoryClassName();
		Class< ? > clazz = loadFrameworkClass(fr

[2020-07-23 14:17] bjhargrave opened #124 "New contracts for Jakarta EE 9"
Jakarta EE 9 is renaming packages from `javax.` to `jakarta.`.

We need to define new `Jakarta*` contracts for Jakarta EE 9.

[2020-07-31 08:37] pkriens opened #126 "org.osgi.test.cases.component.junit.DS14TestCase fails termination but never ends it"
The DS14TestCase has a `testCoordinationFailed` test that checks if configurations are not updated when a Coordination fails. Unfortunately, the created Coordination is failed in a finally block but it is never ended.

    Coordination coordination = coordinator.begin("ds-test", 0);
    try {
        ....
    } finally {
       coordination.fail(new RuntimeException("failed"));
    }
    System.ou

[2020-07-31 16:13] #126 closed, assigned to bjhargrave

[2020-08-10 19:18] #120 closed, assigned to nobody

[2020-09-03 13:30] #50 closed, assigned to rotty3000

[2020-09-03 14:43] #28 closed, assigned to nobody

[2020-09-03 16:22] #44 closed, assigned to timothyjward

[2020-09-03 17:12] #45 closed, assigned to bosschaert, timothyjward

[2020-09-05 01:43] #32 closed, assigned to bjhargrave

[2020-09-08 17:00] tjwatson opened #138 "TRUE Condition visibility and implicit mandatory references"
For the Condition spec we are considering updating Declarative Services and CDI specifications such that implicit, mandatory references with a defined name are added for the TRUE condition.  The idea is that this implicit reference will always be satisfied because the TRUE condition is always registered and available by OSGi R8 Framework implementation.

We also added an implicit permission in Cor

[2020-09-11 21:23] #138 closed, assigned to nobody

[2020-09-14 08:30] #37 closed, assigned to timothyjward

[2020-09-28 15:41] bjhargrave opened #143 "DS: Support Optional for field and constructor injection"
I kind of like the idea of `Optional<T>` for field injection. It is short hand for `cardinality=ReferenceCardinality.OPTIONAL`.

Since R8 supports, Java 8 as the base language level, we can now add support for `Optional` as a field (and constructor) injection type. Bnd can infer the actual service type from the generic T.

So

[code]

would be a static optional reference to a `Foo` service, The `f

[2020-10-01 19:18] maho7791 opened #145 "Allowing multiple @SatisfyingConditionTarget annotations"
Currently we use this mentioned annotation to place a reference with name `osgi.ds.satisfying.condition.target.`
If a component activation depends on a condition we use the annotation:
`@SatisfyingConditionTarget(value="osgi.condition.id=A")`
Having only one of this annotation is currently supported.

So, if a component activation depends on multiple conditions, I either have to use the ConditionF

[2020-10-01 19:29] #145 closed, assigned to nobody

[2020-12-16 14:07] tjwatson opened #148 "ServiceTracker should not use System.currentTimeMillis() to check timeouts"
See https://issues.apache.org/jira/browse/FELIX-6163

[2020-12-16 19:15] #148 closed

[2020-12-17 19:23] tjwatson commented on #143
I started to look at implementing this in Felix SCR and have some questions

1. Is `Optional` support is only valid for field and constructor injection and  should not be valid for bind/unbind method arguments?  It makes no sense for bind/unbind methods.
2. The `Optional` type field/constructorArg is valid for `OPTIONAL("0..1)`.  It will be invalid for `MULTIPLE("0..n")` and `AT_LEAST_ONE("1..n")`

[2020-12-23 09:30] maho7791 commented on #124
This would also lead to coresponding changes in specifications like HttpService, HttpWhiteboard, JaxRsWhiteboard, CDI.

Do we have plans for this? Especially , how to deal with the former 'javax' namespace support.

[2020-12-23 09:31] maho7791 commented on #124
I think this belongs to #54

[2020-12-23 13:16] bjhargrave commented on #124
Those are separate items than this one. You will see this mentioned in the "Future Work" section of <https://projects.eclipse.org/proposals/osgi-specification-project>.

The contracts are independent of updating OSGi specifications to use jakarta API.

[2021-01-14 02:13] rotty3000 opened #152 "[Rest Management] defines what appears to be an illegal JSON Object structure for `application/org.osgi.bundles+json`"
The Rest Management Specification defines what appears to be an illegal JSON Object structure for the `application/org.osgi.bundles+json` content type:
[code]
an object whose only member is an array!?!

Isn't this illegal since JSON Objects require members to have keys. Is this known, maybe we have errata for this?

[2021-01-14 02:20] rotty3000 commented on #152
for that matter `application/org.osgi.bundles.representations+json` is also illegal:
[code]

[2021-01-14 08:38] juergen-albert commented on #152
I don't like constructs like this, but I'm not sure if this is really illegal. We stumbled upon such things quite often in the wild.
According to [json.org] it would be invalid, but all the RFCs I've seen so far don't show such a construct as illegal. I'd love to see any hard evidence to declarer this the cancer it is. So if somebody knows more, please share the source.

We could at least declare

[2021-01-14 16:13] bjhargrave commented on #152
Interesting, the REST RI and CT seems to be fine with this...

[2021-01-14 18:14] rotty3000 commented on #152
I have not found a JSON serializer that will create this construct. Not sure how the RI accomplishes that. I need to investigate.

[2021-01-15 03:30] rotty3000 opened #153 "[Rest Management] 137.3.2.2 POST with Location String ambiguous description of the response body"
Section `137.3.2.2 POST with Location String` describes the following response body:

In one line it says `The body of the response is Bundle Representation of the newly installed bundle`, and in the next it says `the body of the response contains the URI`.

See https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.rest.html#service.rest-bundles.post.location

[2021-02-09 10:02] juergen-albert opened #154 "ComponentServiceObjects and ServiceObjects"
I have the feeling I already asked this before, but here I go again:
`org.osgi.framework.ServiceObjects` and `org.osgi.service.component.ComponentServiceObjects `are besides some minor javadoc differences identical. I get why this needs to be a separate interface, but I don't see a compelling reason why `ComponentServiceObjects` can' t simply extend `ServiceObjects`. The only reason I can imagine

[2021-02-09 12:57] timothyjward commented on #154
* ServiceObjects is `@ProviderType`, we don't want DS becoming an implementor of `org.osgi.framework`
  * An update to ServiceObjects in the core spec should not break the implementation of Declarative Services (unimplemented method).
  * DS implementations should work across multiple versions of the OSGi core spec, even though the version of `org.osgi.framework` changes each time
* ComponentServi

[2021-02-09 17:16] bjhargrave commented on #154
Also, we have an osgi-users@eclipse.org mail list to ask questions like this instead of using the defect reporting mechanism. So I am going to close this issue.

[2021-02-09 17:16] #154 closed

[2021-02-23 04:46] rotty3000 commented on #152
I cannot find a way to describe the model in terms of Open API schema.

For this reason I'd like to propose that the model be changed to one where the root is an object with one property whose name suites the representation type:
e.g.
For Content-Type: application/org.osgi.bundles+json
[code]
For Content-Type: application/org.osgi.bundles.representations+json
[code]
For Content-Type: application/o

[2021-02-23 16:46] bjhargrave commented on #152
How would this be backwards compatible to clients receiving the payload?

Wouldn't we need new content types to request this new format?

`Content-Type: application/org.osgi.bundles.representations.v2+json`

[2021-02-23 17:59] rotty3000 commented on #152
I'm suggesting that we consider the current state as broken!

[2021-02-23 18:26] bjhargrave commented on #152
That may be true, but we still have a published spec and an RI and TCK which use the current state.

https://github.com/eclipse/concierge/tree/master/bundles/org.eclipse.concierge.service.rest is an implementation of the REST spec. What does it do for these JSON objects?

[2021-02-23 19:04] rotty3000 commented on #152
You'll notice that the CT doesn't even follow the representation specified

https://github.com/osgi/osgi/blob/063c29cb12eadaab59df75dfa967978c8052c4da/org.osgi.test.cases.rest/src/org/osgi/test/cases/rest/junit/RestServiceJSONTestCase.java#L816

You can see it actually uses a JSONArray which means that the implementation actually returns:
[code]
and not
[code]

[2021-02-23 19:09] bjhargrave commented on #152
I guess someone will need to dig into this to under stand what the RI does, what the TCK does and what Concierge's impl does to see if anyone follows the spec.

[2021-02-23 21:36] rotty3000 commented on #152
it sends a JSON array

https://github.com/eclipse/concierge/blob/0378bf822791ce971c428c8fd9ee6d1139eb7135/bundles/org.eclipse.concierge.service.rest/src/org/osgi/impl/service/rest/resources/AbstractOSGiResource.java#L247-L256

[2021-02-23 21:40] rotty3000 commented on #152
I'd be ok with changing the content type to being just an array. At least that's usable if not ideal.

On the other hand, if it's broken as defined, I suggest fixing it in the best possible way, and using an array as the representation has severe limitations. Its rather hard (if not impossible) to optimize for very large result set.

[2021-02-24 16:13] bjhargrave commented on #152
Agree. I think the fix is to remove the surrounding `{` `}` from the arrays.

An array is a legal JSON document, no?

[2021-02-24 16:14] bjhargrave commented on #152
This sounds more like a new representation form and is a spec change not an errata.

[2021-02-24 16:18] rotty3000 commented on #152
Aright' let's just go with array.

On Wed., Feb. 24, 2021, 11:15 a.m. BJ Hargrave, <notifications@github.com>
wrote:

[2021-03-08 20:42] bjhargrave opened #155 "[Initial Provisioning] Design flaw in use of Zip Extra field"
In the [Initial Provisioning spec](https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.provisioning.html), there is discussion of string the mime type of an entry in the Zip Extra field (see section 4.5 "Extensible data fields"of <https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT>).

This discussion is in the javadoc for [`ProvisioningService.addInformation(ZipInputStream)`](http

[2021-03-08 20:59] bjhargrave commented on #155
Another option is to remove the Initial Provisioning spec from Compendium for R8 if we deem it no longer of value to continue publishing.

[2021-03-10 18:49] bjhargrave opened #158 "[html spec] Need to add copyright notice to front page"
The PDF spec has a copyright notice in the front matter (along side the spec license).

https://github.com/osgi/osgi/blob/0f748ef3193666692d5150550cb54fe002121394/osgi.specs/docbook/xsl/custom-fo.xsl#L2057-L2075

We need the html spec front page to also include the copyright notice (before the spec license).

[2021-03-18 22:51] #158 closed

[2021-03-19 12:59] bosschaert opened #162 "OSGi Features (was RFC 241)"
OSGi Features Specifiaction

Requirements: https://github.com/osgi/design/blob/main/rfps/rfp-0188-Features.pdf
Design: https://github.com/osgi/design/blob/main/rfcs/rfc0241/rfc-0241-Features.pdf

Initial spec text can already be found at https://github.com/osgi/osgi/blob/fm-spec/osgi.specs/docbook/708/
Initial API can be found here: TBD
Initial Compliance tests are found here: TBD

[2021-03-26 21:45] bjhargrave opened #167 "Service Layer API for oneM2M (was RFC 237)"
Provide a high level API for oneM2M RESTful operations hiding the difference of the variety of communication methods.

[2021-03-26 21:46] bjhargrave commented on #167
The spec, implementation, and TCK for this features are already integrated in the main branch for the next Compendium release.

[2021-03-26 21:46] #167 closed

[2021-03-26 21:56] bjhargrave commented on #108
As of Java 16, [record types](https://docs.oracle.com/javase/specs/jls/se16/html/jls-8.html#jls-8.10) are now part of the JLS/JVMS.

[2021-03-26 22:06] bjhargrave opened #168 "Condition Factory (was RFC 242)"
In order to create more complex Conditions easily a configurable Factory is called for. This allows integration of Conditions in a Systems without the requirement to actually register a Condition Service.

The implementation implementation of the `ConditionFactory` should register a `org.osgi.service.cm.ManagedServiceFactory` with the service PID `osgi.condition.factory`. A configuration it might

[2021-03-26 22:09] bjhargrave opened #169 "DS Condition Support (was RFC 242)"
Add support to DS for components to have an implicit Condition reference.

[2021-03-26 22:09] bjhargrave commented on #169
This support is already integrated in the main branch for DS 1.5.

[2021-03-26 22:09] #169 closed

[2021-03-26 22:10] bjhargrave opened #170 "CDI Condition Support (was RFC 242)"
Add support to the CDI Integration spec for implicit Condition references similar to the DS support.

[2021-03-26 22:14] bjhargrave opened #171 "Type Safe Eventing (was RFC 244)"
Specific areas of improvement include the type safety of event data, monitoring of event flow, and tracking of undelivered events. These features are necessary enhancements if the Event Admin pattern is to remain used by modern applications in the future.

[2021-03-26 22:15] bjhargrave opened #172 "Messaging (was RFC 246)"
Asynchronous communication is an important factor in today's business applications. Especially in the IoT domain but also for distributed infrastructures the communication over publish/subscribe protocols are common mechanisms. Whereas the existing OSGi Event Admin specification already describes an asynchronous event model within an OSGi framework, this design addresses the interaction of an OSGi

[2021-03-28 06:45] maho7791 opened #173 "OSGi Messaging (was RFC 246)"
OSGi Messaging Specifiaction

Requirements: https://github.com/osgi/design/blob/main/rfps/rfp-0192-Messaging.pdf
Design: https://github.com/osgi/design/blob/main/rfcs/rfc0246/rfc-0246-Messaging.pdf

Initial spec text can already be found: TBD
Initial API can be found here: TBD
Initial Compliance tests are found here: TBD

[2021-03-31 15:29] bjhargrave commented on #173
Dup of #172

[2021-03-31 15:29] #173 closed

[2021-03-31 15:38] bjhargrave commented on #155
See past discussion in https://github.com/osgi/bugzilla-archive/issues/1182

[2021-03-31 15:41] bjhargrave commented on #155
Project call: Agreed to remove IP Spec from R8.

[2021-03-31 15:45] bjhargrave commented on #153
Project call: Also in 137.3.2.3.

Recommended fix is to remove reference to body containing URI. The response contains the representation.

[2021-03-31 15:47] bjhargrave commented on #153
Also need an errata for https://docs.osgi.org/specification/errata.html#release-7

[2021-03-31 15:48] bjhargrave commented on #152
Project call: Agreed to return simple array.

Need errata for R7.

[2021-03-31 16:14] bjhargrave commented on #108
Project call: Target for Core R9.

[2021-03-31 16:32] bjhargrave commented on #59
Project call: Add contract for JavaServlet 2.1, and use in org.osgi.service.http companion jar.

Updated Java contracts to cover Jakarta EE 8  (this includes Servlet 4.0).

[2021-04-06 17:52] tjwatson opened #175 "Wiring javadoc claims that instances are effectively immutable"
See [Wiring javadoc](https://docs.osgi.org/javadoc/osgi.core/8.0.0/org/osgi/resource/Wiring.html).  It claims:

    Instances of this type must be effectively immutable.
    That is, for a given instance of this interface, the methods defined
    by this interface must always return the same result.

This is incorrect for at least the method `org.osgi.resource.Wiring.getProvidedResourceWires(Strin

[2021-04-13 18:11] bjhargrave opened #176 "Update Java Contracts for Jakarta EE 8"
Jakarta EE 8 (still using `javax` namespace) has updated specifications. We need to update the contracts at https://github.com/osgi/docs/blob/gh-pages/reference/portable-java-contracts.md and https://github.com/osgi/docs/blob/gh-pages/reference/contracts.json to reflect the APIs in Jakarta EE 8.

[2021-04-13 19:59] bjhargrave commented on #172
I have pushed the design/172 branch to hold the Messaging work. I used pandoc to convert the RFC 246 odt file to markdown and placed it in the .design folder of the design/172 branch.

@maho7791 Please put your code. e.g. org.osgi.service.messaging project/package in this branch.

[2021-04-13 20:57] bjhargrave commented on #168
`condition.factory` is used in the spec chapter name, xmlids, and some constants. But the package name is `org.osgi.service.conditionfactory` since we correctly did not want to make it a subpackage of `org.osgi.service.condition`. The spec and constants should change to use `conditionfactory` instead of `condition.factory` for consistency.

[2021-04-14 15:51] bjhargrave commented on #36
@rotty3000 Please provide some more context.

[2021-04-15 12:25] stbischof opened #179 "[Features] Provide same MetaData-Fields as Bundle"
It would be nice if features would use same Metadata-Fields as Bundle and Subsystem.

|Bundle | Subsystem | Feature
| ------------- |:-------------:| -----:|
|Bundle-Category | Subsystem-Category | ?
|Bundle-ContactAddress | Subsystem-ContactAddress | ?
|Bundle-Copyright | Subsystem-Copyright | ?
|Bundle-Description | Subsystem-Description | description
|Bundle-Developers | ? | ?
|Bundle-DocURL |

[2021-04-20 20:55] bjhargrave commented on #68
Fixes in design branch.

[2021-04-20 20:55] #68 closed

[2021-04-20 20:56] bjhargrave commented on #168
I pushed the design/168 branch for this design work.

@juergen-albert Please take it from here!

[2021-04-20 21:04] bjhargrave commented on #171
Type Safe Eventing design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

[2021-04-20 21:04] #171 closed

[2021-04-20 21:04] bjhargrave opened #183 "Type Safe Eventing specification writing"
Type Safe Eventing design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

_Originally posted by @bjhargrave in https://github.com/osgi/osgi/issues/171#issuecomment-823599432_

[2021-04-20 21:05] bjhargrave opened #184 "Type Safe Eventing implementation development"
Type Safe Eventing design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

_Originally posted by @bjhargrave in https://github.com/osgi/osgi/issues/171#issuecomment-823599432_

[2021-04-20 21:06] bjhargrave opened #185 "Type Safe Eventing tck development"
Type Safe Eventing design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

_Originally posted by @bjhargrave in https://github.com/osgi/osgi/issues/171#issuecomment-823599432_

[2021-04-20 21:08] bjhargrave commented on #162
Features design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

[2021-04-20 21:08] #162 closed

[2021-04-20 21:08] bjhargrave opened #186 "Feature specification writing"
Features design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

_Originally posted by @bjhargrave in https://github.com/osgi/osgi/issues/162#issuecomment-823601652_

[2021-04-20 21:09] bjhargrave opened #187 "Feature implementation development"
Features design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

_Originally posted by @bjhargrave in https://github.com/osgi/osgi/issues/162#issuecomment-823601652_

[2021-04-20 21:10] bjhargrave opened #188 "Feature TCK development"
Features design work is already complete prior to the new process. So we now open tracking issues for the specification, implementation, and tck work.

_Originally posted by @bjhargrave in https://github.com/osgi/osgi/issues/162#issuecomment-823601652_

[2021-04-20 21:13] bjhargrave opened #189 "DS 1.5 implementation development"
Track development of an implementation of the DS 1.5 spec.

- [x] AnyService
- [x] Optional
- [x] Satisfying conditions
- [x] Component properties from property and properties elements take precedence over the target property from the target attribute of reference elements.

[2021-04-20 21:14] bjhargrave opened #190 "DS 1.5 TCK development"
Track development of the TCK updates for the DS 1.5 spec.

- [x] AnyService
- [x] Optional
- [ ] Satisfying conditions
- [ ] Component properties from property and properties elements take precedence over the target property from the target attribute of reference elements.

[2021-04-20 21:47] bjhargrave commented on #155
In working on this, it turns out the JMX spec touches Provisioning <https://osgi.github.io/osgi/cmpn/service.jmx.html#org.osgi.jmx.service.provisioning.ProvisioningServiceMBean>. There is also a JMX tck for this.

So if we remove Provisioning from Compendium R8, we also need to either remove JMX as well or modify JMX to remove the `org.osgi.jmx.service.provisioning` package, spec text, and TCK. We

[2021-04-21 00:05] tjwatson commented on #189
Implementation is being done in felix in a branch

https://github.com/apache/felix-dev/tree/scrR8

[2021-04-28 15:14] #155 closed

[2021-04-28 15:54] #49 closed

[2021-04-28 15:55] jjh-aicas opened #194 "Resource Enforcement"
This was [rfp-0189-Resource-Enforcement](https://github.com/osgi/design/blob/main/rfps/rfp-0189-Resource-Enforcement.pdf)

The purpose of this RFP is to enable the enforcement of resource restriction on bundles to ensure the robustness of the framework.  The resources of a bundle may include CPU use, memory consumption, number of threads, network connections, and other limited resources.  These ar

[2021-04-28 16:12] bjhargrave commented on #194
@kaihackbarth Can you confirm if this RFP was approved? We think it was final and may have been voted on. You sent an email Jul 18, 2018 about voting.

[2021-04-29 09:18] stbischof commented on #188
I started with feature-tck - https://github.com/stbischof/osgi/tree/feature_tck

[2021-04-29 20:41] #176 closed

[2021-04-30 13:17] bosschaert commented on #179
Hi @stbischof thanks for the suggestions!

In #196 I added the following attributes: categories, copyright, docURL and SCM.
Name was already there (the codebase does not contain an attribute called 'title').
The Feature ID is similar to the Bundle-Symbolic in combination with the Bundle-Version.
I did not add 'Icon' because the way that is used in bundles/subsystems is to reference a resource insi

[2021-04-30 17:51] stbischof commented on #179
Thank you!I think that are the Fields we need.

 When looking at the feature model an option would be to extract this into an additional class nameds 'Meta' or something like that. This may could hold an Map for additional not specifies Headers/Labels/Fields

[2021-05-04 07:30] bosschaert commented on #179
Hi @stbischof that's an interesting idea. We could also use a JSON Schema and encode the version in the schema URL, similar to how this is done for XML Schemas in the Remote Service Admin spec https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.remoteserviceadmin.html#d0e92612

[2021-05-04 11:42] stbischof opened #199 "Provide snapshot-builds"
I am trying to develop some external tooling on top of the osgi-feature spec. It would help me, if there would be a snapshot build in any repo.

Is there anywhere a Repo with the snapshot build, or could you please add one?

[2021-05-04 11:46] bjhargrave commented on #199
The snapshot API artifacts are published at https://oss.sonatype.org/content/repositories/snapshots/. See the listing for org.osgi groupId at https://oss.sonatype.org/content/repositories/snapshots/org/osgi/.

The complete artifact set for each build is an artifact attached to the GitHub Action build. See https://github.com/osgi/osgi/actions/runs/809269970#artifacts for example. You want the "OSGi

[2021-05-04 11:46] #199 closed

[2021-05-04 11:47] bjhargrave commented on #199
In the future, these sorts of questions should be asked in the osgi-dev@eclipse.org mail list. Not as an issue here. Thanks.

[2021-05-06 13:58] bjhargrave commented on #189
See also the following Bnd issues for supporting new DS 1.5 features:

* https://github.com/bndtools/bnd/issues/4657
* https://github.com/bndtools/bnd/issues/4658

[2021-05-06 14:28] bjhargrave opened #200 "build: Update build to release implementation and test artifacts to the snapshot repo"
The build currently releases the snapshot API jars to <https://oss.sonatype.org/content/repositories/snapshots/>. We have done that for a long time since the OSGi Alliance days. Now that we are a fully open source project, we should start releasing all artifacts to the snapshot repo including implementation (`org.osgi.impl.*`) and TCK (`org.osgi.test.cases.*`)

[2021-05-12 15:08] stbischof opened #205 "[Features] Rename ID.class to FeatureID.class"
All entity-names but `ID` are following the patter `Feature*`

[code]

We might rename ID.class to FeatureID.class

[2021-05-12 15:08] stbischof opened #206 "[Features] Rename Feature-JSON field `isComplete`"
the Field `isComplete` looks like an getter/method call.
We may should change it to `complete`

[2021-05-12 15:09] stbischof opened #207 "[Features] Use Optional-API in Features"
There are several optional fields in Features.
This are the methods where an `Optional<String>` as return value could be a good way to go.

[code]

Extensions: https://osgi.github.io/osgi/cmpn/util.features.html#d0e167706
At the moment this methods also would return null when used in combination with the wrong `type - getType`

This could also handled by an Optional. An other way for this would be

[2021-05-12 15:10] stbischof opened #208 "[Features] extract Metadata fields from Feature.class into a new FeatureMetadata.class"
At the moment there are this Header/Metadata fields in `Feature.class`
Features::getName
Features::getDescription
Features::getVendor
Features::getLicense
Features::getName
Features::getDocURL
Features::getCopyright
Features::getCategories
Features::getSCM

They could be extracted in a `FeatureMetadata.class`.that also provides an additional `Map<String,String>` for additional custom Metadatas

[2021-05-12 15:11] stbischof opened #209 "[Feature] Feature-Json should provide resource-version and JSON Schema"
A Global property in the Feature-Json specifying the version of the resource format might also be usefull. We have this in
- Configurator: `":configurator:resource-version" : 1,`
- Manifest: `Manifest-Version: 1.0`

From @bosschaert:

extracted from #179

[2021-05-12 15:46] stbischof opened #210 "[Features] Features - Define `bundles` more general with uris"
Maybe this had been discussed before, so sorry if this is in any kind a duplicate.

At the Moment a Feature holds bundles and the bundles are definded by G:A:V coordinates.
An other approach would be to hold `artifacts` that are defined using an URI. These artifacts must have a type that is by default `bundle`.

This would allow to have not just bundles. A feature could also reference a oci-contai

[2021-05-12 16:34] bjhargrave commented on #194
@kaihackbarth ??

[2021-05-13 09:22] #179 closed

[2021-05-13 12:41] bosschaert commented on #210
Spec call: having a pluggable URI makes it harder to unambiguously define what the ID means. And to make features with these usable by users at large it would need some plugin mechanism to register custom handlers. This would be a lot to add to the features spec right now, and probably deserves a proper requirements discussion to better understand the use-cases. So if this is something to pursue,

[2021-05-13 12:41] #210 closed

[2021-05-13 12:42] bosschaert commented on #208
Spec call: decision to leave these directly in the feature rather than putting them in a sub-object.
Custom metadata can already be provided using feature extensions.

[2021-05-13 12:42] #208 closed

[2021-05-14 12:29] kaihackbarth commented on #194
@bjhargrave I can confirm it has been approved as I did send an E-Mail about the approved RFP to Azul. However I don't seem to have access to the email with the voting results. Unfortunately our mailboxes at Bosch were limited to 3GB. Now with Office365 we don't have this problem anymore...

[2021-05-14 13:11] bosschaert commented on #205
Looking closer at the issue, I am not in favour of changing `ID` to `FeatureID` as I think it could potentially be confusing.

The ID here doesn't necessarily refer to only features, it's instead a general ID that follows the same syntax across a number of entities in the Features spec. The following entities can contain IDs:
* Feature
* FeatureBundle
* FeatureExtension of type Artifact

So let's

[2021-05-14 14:20] stbischof commented on #205
I see what you mean. especially this line convinced me.
`FeatureID bundleID = bundle.getID(); // or even bundle.getFeatureID();`

But when thinking about I am not sure why `ID` is not just a mandantory String in the Feature
`String bundleID = bundle.getID(); `.
Even the JSon looks like
[code]
an not```
{
 "id": "{ "groupId": "org.osgi",
             "artifactId": "util.feature"
             "versi

[2021-05-14 16:19] #200 closed

[2021-05-18 10:27] bosschaert opened #216 "[Features Impl] Handle external dependencies while being usable in both an OSGi and non-OSGi runtime"
For the Features spec implementation we have the following constraints.

1. The implementation must be able to do the following

* Parse JSON
* Parse Configurator JSON (which is a specialized JSON format)

The best way to handle these points above is to be able to use existing implementations of these.

2. Furthermore, the Features spec implementation needs to be usable from both inside OSGi as we

[2021-05-18 10:28] bosschaert commented on #216
I think there are 2 possible ways to address the constraints

1. Via a Util Spec. A util spec in OSGi normally provides an implementation alongside the spec so it can be used in either environment. In this case the Util Spec would have a dependency on a separate JSON parser and a separate Configurator parser.

or

2. Alternatively via a 'regular' OSGi spec. In that case OSGi only provides only the

[2021-05-18 16:32] stbischof commented on #216
We have the same on the Writer site, where we serialize the Java Feature model into a JSON..

[2021-05-19 16:24] timothyjward commented on #183
Work is mostly complete, ready for @juergen-albert to turn into a TCK

[2021-05-19 16:25] timothyjward commented on #184
A prototype implementation is available in Apache Aries. Any fixes identified by the TCK can be applied there.

[2021-05-20 15:50] bjhargrave commented on #216
A util package should not have dependencies on 3rd party jars. All of the other util packages depend only on the JRE, the core packages, or other util packages. For example, util.pushstream depends on util.promise which depends on util.function. util.tracker depends on core. But none of them depends upon a 3rd party jar like a JSON parser/serializer.

If features needs such a capability, it would

[2021-05-22 12:18] stbischof opened #219 "[TypedEvent] Clarify definition of a DTO"
The TypedEvent Spec defines:
- `DTO - A Data Transfer Object as per the OSGi DTO Specification.`  [157.1.1](https://osgi.github.io/osgi/cmpn/service.typedevent.html#d0e154027)

The Core DTO Spec:
- `The org.osgi.dto package defines the basic rules and the abstract base DTO class which Data Transfer Objects must extend. `  [57.2](https://osgi.github.io/osgi/core/framework.dto.html#d0e48305)

----
T

[2021-05-22 21:25] bjhargrave commented on #219
@stbischof See https://osgi.github.io/osgi/cmpn/ for the most up to date draft Compendium R8 specification

[2021-05-22 21:38] bjhargrave commented on #219
@stbischof I have removed the old Compendium R8 drafts on docs.osgi.org and updated the site to link to the latest drafts built by github actions: https://osgi.github.io/osgi/cmpn/

Make sure to use this URL in the future for the draft Cmpn R8 spec.

[2021-05-23 08:25] stbischof commented on #219
I just followed the [docs.osgi.org/](docs.osgi.org/)  on the main [osgi-github](https://github.com/osgi/osgi) site. So thank you for updating the link!

I updated the links in this issue.

[2021-05-24 19:09] tjwatson opened #223 "Starting Java 17 the security manager will be broken"
https://openjdk.java.net/jeps/411

See https://docs.osgi.org/javadoc/osgi.core/8.0.0/org/osgi/framework/Constants.html#FRAMEWORK_SECURITY
See https://docs.osgi.org/javadoc/osgi.core/8.0.0/org/osgi/framework/Constants.html#FRAMEWORK_SECURITY_OSGI

If framework launch property is set `org.osgi.framework.security=osgi` then the framework is obligated to set the security manager.  But starting with Ja

[2021-05-24 19:42] bjhargrave commented on #223
I think that if the user has requested a SecurityManager via the framework launch property being set to `org.osgi.framework.security=osgi`, then a framework implementation must install a SecurityManager. If the JRE does not allow it, the framework impl must report that. An up-to-date framework impl could know about the Java 17 changes and, in the error message of the exception, advise the user of

[2021-05-24 20:06] bjhargrave commented on #223
But we probably need to start long term thinking about deprecation/removal of all Security sections in the OSGi specs if Java permissions are indeed slated for the chopping block.

[2021-05-24 20:34] rickhall commented on #223
Agree with BJ, you can't start without a security manager.

[2021-05-24 21:01] tjwatson commented on #223
I also agree.  Leaving open in case we want to make some explicit statement in the spec.  May want to decide if the UnsupportedOperationException is propagated or if Framework.init just throws a BundleException with the cause set.

[2021-05-24 21:55] bjhargrave commented on #143
Only for field and constructor injection.

It is supported for unary references which include 1..1. I did not see any reason to exclude 1..1, But the Reference annotation will default to 0..1 cardinality for annotated fields and constructor parameters of type Optional.

Like for ServiceReference, etc., if the actual service type of the referenced service is `Optional` then the actual service objec

[2021-05-25 13:00] stbischof opened #225 "[TypedEvent] Topic-grammar vs automatically generated Topics"
If I am reading the grammar the right way, no special character like `$` is allowed.

Grammar:
[code]

Automatically generated Topics are generated from the className of the Event in this way:
[code]

If the event is a nested or inner class it will generate a topic that is not valid because of the `$`.

[2021-05-25 13:34] bjhargrave commented on #225
From https://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.8:

So the `'_'` in the topictoken production is redundant. But `$` is already included.

[2021-05-25 14:08] stbischof commented on #225
Thank you for the fast help!

[2021-05-25 14:31] bjhargrave commented on #225
It is in the spec. That's where I got it. See [1.3.2 General Syntax Definitions](https://docs.osgi.org/specification/osgi.core/8.0.0/framework.introduction.html#framework.general.syntax). `jletterordigit` is defined and references the JLS.

[2021-05-25 14:42] stbischof commented on #225
Sure. i meaned an direct link from cmpn to the core
I know that there is this line
[code]

[2021-05-25 14:46] bjhargrave commented on #225
This is hard since we cannot link between specs since we make PDF and HTML versions. And we don't always know during the spec build where the URL of the HTML spec will be. There are drafts specs (built in different forks) and final specs, etc. So we rely upon humans to make the connection using words :-)

[2021-05-25 16:32] tjwatson opened #226 "Issues with URLStream/Content handler factories on Java 17"
Java 17 is finally removing sun.misc.Unsafe::defineAnonymousClass

https://bugs.openjdk.java.net/browse/JDK-8266760

At least Equinox and Felix frameworks have depended on this method to allow us to do questionable things on Java 9+ with respect to replacing or interacting with the static factories within the URL and URLConnection class.  We needed a way to reflectively flush out the factory objec

[2021-05-25 17:31] bjhargrave commented on #226
Is this a spec issue? Or just an implementation issue?

If we get to the decision where parts of the spec can no longer, under any circumstances, be implemented on a JVM, then we will need to modify the spec. But if one just needs some JVM options to enable an implementation t work, I am not sure I see that any spec change is required.

[2021-05-25 17:34] bjhargrave commented on #226
And why isn't `java.lang.invoke.MethodHandles.Lookup::defineHiddenClass` a possible alternative?

[2021-05-25 18:01] bjhargrave commented on #183
The specification still has an unresolved `remark`:

[2021-05-25 18:01] bjhargrave commented on #225
Closing since `$` is already allowed.

[2021-05-25 18:01] #225 closed

[2021-05-25 19:39] tjwatson commented on #226
I don't think the new java.lang.invoke.MethodHandles.Lookup::defineHiddenClass methods would bypass the reflection checks.  Still think we would need to have the package opened to reflect on it.

I think this is a spec issue regardless of if some command line flags can be used to open the package for reflection.  The real issue is the JVM does not give the OSGi implementation the necessary API to

[2021-05-25 20:12] stbischof commented on #185
While development the tck lives here
https://github.com/geckoprojects-org/osgi
Branche: typedevent_tck

[2021-05-26 15:22] bjhargrave commented on #183
Spec project call: Remove remark. Remove `| '_'` from production since jletterordigit already include it.

[2021-05-26 15:33] #143 closed

[2021-05-26 15:50] bjhargrave commented on #226
Spec project call: @tjwatson and @karlpauls need to work on the details of what is needed to request proper API from Java to replace our current reflective mechanisms.

[2021-05-26 16:12] bjhargrave commented on #216
Spec project call: Agreed to change to a service spec and allow bundle impls registering services and classpath/module impls using ServiceLoader to provide impls.

[2021-05-27 10:17] bosschaert opened #227 "[Converter] Join 2 Converter spec implementations (Felix + OSGi)"
There are 2 implementations of the OSGi Converter Util Spec: one in Felix and one in OSGi.
They essentially originate from the same codebase so any changes and fixes have to be applied twice.

Ideally we would collapse these two implementations back into a single one.

[2021-05-27 13:27] stbischof commented on #227
The Felix converter handles default methods of Interfaces since [PR](https://github.com/apache/felix-dev/pull/10/files)

This behavior is (afaik) not specified in the Spec (707.4.4.4.4.1 Converting to an Interface).

We may can add some words about this topic.

[2021-05-27 15:03] bjhargrave commented on #227
So we may need to update the Converter spec to 1.1!

[2021-05-27 15:12] bosschaert commented on #227
I guess the question is whether this is as small as an erratum (basically an omission in the spec) or whether it needs a proper spec revision.

[2021-05-27 15:16] bjhargrave commented on #227
We are free to update the spec version to 1.1 to add new features. I am not sure omitting a feature is really something which can be "clarified".

[2021-05-27 18:20] bjhargrave commented on #189
These Bnd issues are now fixed by https://github.com/bndtools/bnd/pull/4691

[2021-05-28 15:36] bosschaert commented on #207
I played a bit with this and I think it can work. I don't think `Optional<>` would make the API awkward to use, as long as you properly follow the Optional-provided APIs. You can see what the changes would look like here: https://github.com/osgi/osgi/commit/2a0e833ffece1ba6f194d1b6c767fecfc2b36ec6

[2021-06-02 18:36] #227 closed

[2021-06-03 15:21] #216 closed

[2021-06-09 15:55] #207 closed

[2021-06-10 13:32] bjhargrave commented on #189
DS 1.5 TCK updates for Optional support found bugs in the current DS 1.5 impl. 2 new tests are now failing.

[2021-06-11 07:01] stbischof commented on #108
I think this is Java 17. AFAIK `java16` has just an `Preview` .

After last Spec-Meeting I started to play with `Records` in the Converter context.

* convert FROM Record
* convert TO Record
* TCK add Tests that only run with `src.target` in Java 17

Here is the branch:
https://github.com/stbischof/osgi/tree/Conv_Record

[2021-06-11 13:19] bjhargrave commented on #108
They were preview in Java 14 and 15 but final in 16.

[2021-06-14 19:36] bjhargrave opened #247 "org.osgi.test.cases.cdi TCK fails intermittently"
The org.osgi.test.cases.cdi  TCK is not reliable and often fails due to some timing error in the ci build. See <https://github.com/osgi/osgi/runs/2822129121?check_suite_focus=true> for an example failure.

This needs to be addressed to complete Compendium R8 release.

[2021-06-14 19:39] bjhargrave opened #248 "org.osgi.test.cases.remoteserviceadmin TCK fails intermittently"
The org.osgi.test.cases.remoteserviceadmin TCK is not reliable and sometimes fails due to a timing error in the ci build. See <https://github.com/osgi/osgi/runs/2822130509?check_suite_focus=true> for an example.

This needs to be addressed to complete Compendium R8 release.

[2021-06-14 19:41] bjhargrave opened #249 "org.osgi.test.cases.dmt.tc4 TCK fails intermittently in CI build"
The org.osgi.test.cases.dmt.tc4 TCK fails intermittently in the CI build due to a timing bug. See <https://github.com/osgi/osgi/runs/2822588141?check_suite_focus=true> for an example.

This needs to be fixed to complete Compendium R8 release.

[2021-06-14 19:43] bjhargrave opened #250 "org.osgi.test.cases.rest.client.js TCK fails intermittently in the CI build"
The org.osgi.test.cases.rest.client.js TCK fails intermittently in the CI build due to some timing error. See <https://github.com/osgi/osgi/runs/2822589008?check_suite_focus=true> for an example.

This needs to be fixed to complete the Compendium R8 release.

[2021-06-14 19:44] bjhargrave commented on #95
See <https://github.com/osgi/osgi/runs/2822587710?check_suite_focus=true> for an example where 13 tests failed.

[2021-06-15 17:37] #190 closed

[2021-06-15 17:40] bjhargrave commented on #189
DS 1.5 TCK updates for component property precedence found a bug in the current DS 1.5 impl. 1 new test is now failing.

[2021-06-17 12:45] tjwatson opened #257 "[ds] Changes to property and reference target precedence may break existing component descriptors"
The R7 section [112.6 Component Properties](https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.component.html#service.component-component.properties) specifies the following:

For R8 this section [112.6 Component Properties](https://osgi.github.io/osgi/cmpn/service.component.html#service.component-component.properties) has changed to the following:

The difference being bullet three where

[2021-06-17 13:36] tjwatson commented on #257
A potential solution to this is to have the specification for the implicit satisfying condition mandate that the property associated with the `target` attribute for the implicit `osgi.ds.satisfying.condition` reference add its property value to the beginning of the list of declared property values for the component descriptor such that any explicitly specified properties in the component descripto

[2021-06-18 04:19] kriegfrj opened #262 "[pushstream] extends bound on toArray() prevents superclass arrays"
Executive Summary: the `extends T` on the `PushStream.toArray()` method should be removed, as it prevents you from collecting the response in an array of a superclass type.

Detail:
Forgive me if this issue has already been discussed, I've not followed the core OSGi dev closely, but I just stumbled on this in the PushStream API:

[code]

The corresponding method in the Java streams API (which it i

[2021-06-18 11:13] stbischof opened #264 "[Feature] Type of FeatureExtension"
FeatureExtension.class must have a type and corresponding methods

[code]

When calling one of the Method on a FeatureExtension with an not matching Type (e.g. getJson() on a Artifacts type)  then `null` should be returned.

At the moment i cant see why `FeatureExtension`s must have a Type.

A FeatureExtension  should be able to use the text, json and artifacts in parallel.

[code]

----

**Altern

[2021-06-19 06:43] kriegfrj commented on #262
Closed by accident...

[2021-06-21 04:14] kriegfrj commented on #262
Though this is a bit moot because `super` is not permitted here, I realised upon reflection that the above is still not type-safe as the generator could still return an array of a narrower sub-type due to array covariance (which in turn could cause `ArrayStoreException`). To make this fully type-safe you'd probably just do something like this:
[code]

[2021-06-21 11:27] maho7791 commented on #264
What about making FeatureExtension an Interface that provides
[code]
When we then have Implementations for Text, Json, ArtifactExtensions that implement the FeatureExtension interface these classes can provide their convenient methods like getText(), getJson() or getArtifacts().
[code]
That would leave us open to have custom implementations for new/other types, just by inheritance.

We would not h

[2021-06-21 12:26] maho7791 opened #266 "[Feature] Handling of feature ID's and Json"
This discussion refers to Pull-Request: https://github.com/osgi/osgi/pull/261

For me the features ID, that is a GAV String, similar to what we do with `org.osgi.framework.Filter`. We have the ' FrameworkUtil` that is the factory for creating Filter instances, where Filter is an Interface. This factory provides the validation of the provided filter in respect to the syntax. So it takes care that t

[2021-06-21 17:55] bjhargrave commented on #262
`extends T` should be removed. It is a mistake.

[2021-06-21 22:28] #262 closed

[2021-06-22 21:16] #257 closed

[2021-06-23 15:21] bjhargrave commented on #189
Felix SCR R8 passes TCK

[2021-06-24 12:31] bosschaert commented on #250
The problem seems to relate to some unicode mismatch:

The assertion failure is:

[code]

So the difference is in:
`name="Ray AugÃÂ©"` vs `name="Ray AugÃ©"`

One of the problems with this test is that it uses a random bundle every time, so it won't produce the same test result every run.

[2021-06-24 14:30] bjhargrave commented on #250
Just changing the TCK to exclude this one header is just ignoring the real encoding problem. I have a PR to fix this in the test.

[2021-06-24 15:11] #250 closed

[2021-06-24 15:12] bjhargrave commented on #250
And thanks to @rotty3000 for exposing this TCK bug! :-)

[2021-07-02 07:02] laeubi opened #278 "[proposal] Extend WeavingHook to cover resource loading as well"
OSGi Framework Weaving Hook Service is described as:

while this is a powerful tool, there is one aspect missing:

A classlaoder allows beside finding classes also finding of [resources](https://docs.oracle.com/javase/7/docs/api/java/lang/ClassLoader.html#findResource(java.lang.String)). Many frameworks use this approach to discover configurations, meat-data files, images and so on.

My proposal h

[2021-07-02 08:39] laeubi opened #279 "[proposal] standarize providing additional properties to JPA persistence context"
I have reported this in the bugzilla (ID 123) once but can't find this anymore (and can't find it in the archive either) I'll try to rephrase it here:

Currently JPA reads the metadata in a static way. This leads to the problem that one either has to hardcode connection information, or create an incomplete unit and handle the life-cycle manually. Both approaches are very inconvenient from a manage

[2021-07-02 08:58] laeubi opened #280 "[proposal] Add multitenancy support EntityManagerFactoryBuilder"
Currently per spec there could only be multiple `EntityManagerFactory`'s created with 'compatible' properties.
In an application it might still be useful to connect e.g. different databases/schemas/...

Eclipse Link (and probably others) have a[ concept of multitenancy](https://www.eclipse.org/eclipselink/documentation/2.5/solutions/multitenancy.htm) where one can provide a property to the connect

[2021-07-02 09:02] laeubi commented on #280
In the light of https://github.com/osgi/osgi/issues/279 this could even be enhanced that instead listening to a single configuration an implementation could listen for factory-pids and create one service for each pid similar to how DS behaves to create an instance per configuration.
Then even complex deployments would be possible with JPA Spec (e.g. one could have a discovery that listens for data

[2021-07-02 11:01] timothyjward commented on #280
In my experience this isn't the case. The persistence unit name is used as a key by many providers, and therefore having multiple EMFs with different configurations would be a non-starter. One of the key tenets of the OSGi "access" specifications for things like JPA was that it should work entirely within the Java EE specification it was providing access to, otherwise all sorts of provider specifi

[2021-07-02 11:06] laeubi commented on #280
Hibernate has also  multitenancy support https://docs.jboss.org/hibernate/orm/4.3/devguide/en-US/html/ch16.html
From my testing neither eclipse-link nor hibernate refuses to create multiple context for the same persistence unit.

[2021-07-02 12:42] tjwatson commented on #278
Once a class is defined it effectively becomes immutable and a WeavingHook will not see a WovenClass object for the same class loader/class name pair (assuming no class unloading is going on).  Would the same hold true for resource weaving?  Resources can be read multiple times and in the case of exported packages they may be read by multiple bundles.  Once a resource has been woven would the resu

[2021-07-02 12:59] bjhargrave commented on #278
Yes, I am not sure this is a good idea. Weaving is primarily about modifying code to weave in some cross-cutting behavior. Once a class is loaded by a class loader the byte array is no longer interesting as it is converted to a Class object which is immutable. Resources are fundamentally different. They are not transformed by a class loader into some immutable form (e.g. Class object). So "weaving

[2021-07-02 13:58] laeubi commented on #278
A resources might be read multiple times but this will always result in the same result, so resources are kind of static also.

Actually we are talking about `java.lang.ClassLoader.getResources(String)` /  `java.lang.ClassLoader.getResource(String)` and I think those are well defined that there is no guarantee of caching but also do not forbids caching if desired.

So a BundleClassLoader supportin

[2021-07-02 14:38] cziegeler commented on #54
I assume we will handle this on a spec by spec base where we might handle it differently for each spec. We might also not update some specs like the http service.

Should we maybe create separate issues about for a spec we want to work on?

[2021-07-02 17:01] bjhargrave commented on #54
Yes. This is an umbrella issue. When you create an issue for a specific spec, please make sure to update this issue to mention it.

[2021-07-30 12:16] stbischof opened #289 "[proposal] enhand DS method-injection"
When using a common Pattern for method Injection for declarative services, non OSGi users often could not see how the SCR knows the method to Inject because they are not annotated.: then explicit specifying the method names using the attributes of the `@Reference` annotation it produces useless code that just makes it harder do rename Methods.
[code]

I would like to propose an additional way so t

[2021-08-03 09:43] stbischof opened #290 "[proposal] DS allow more Activation-Injections"
The Metatype-,Declarative Services-,Converter-Spec work really great together. Especially the usage of Annotations with Meta-type-Annotations and the injection of the converted maps into the activation methods is really great!

But in some cases Annotations does not fit best. Especially if you do not need the ComponentPropertyType but more then one slightly different Configurations, the extension

[2021-08-04 15:48] bjhargrave commented on #209
We should just add a version entry like configurator for now.

[2021-08-04 15:56] bosschaert opened #291 "[Features] Document immutability of collections returned"
The Features API returns collections in many cases.
These collections should be immutable and this should be documented.

[2021-08-04 16:00] bosschaert commented on #266
Bare IDs are no longer supported. They need to be inside a JSON object.

Custom metadata should be prefixed with reverse DNS names (as mentioned in the spec). Non-prefixed metadata is for OSGi-specified keys only. So there should be no clash with the `"id"` key.

[2021-08-04 16:06] bjhargrave commented on #219
Fixed by #242

[2021-08-04 16:06] #219 closed

[2021-08-04 16:26] bjhargrave commented on #290
One solution would be to support annotating the argument with the name of a user-supplied class which can coerce the map into the injected object type. Like Junit5 does.

[2021-08-05 14:29] bjhargrave commented on #291
I think the correct term we want to use in the doc is "unmodifiable". That is, the caller cannot modify the returned collection/map. See the "unmodifiable" methods on Collections.

[2021-08-05 14:37] bjhargrave opened #293 "Should the TCK jars be published to Maven Central?"
When we make a final specification, we will publish the results, including the TCKs, to https://github.com/osgi/materials. We will also publish the API jars to Maven Central as we have done in the past at the OSGi Alliance.

The question here is whether it make sense to publish the TCK jars to Maven Central.

Having the TCK jars in Maven Central can make it useful for implementations to include TC

[2021-08-06 07:24] juergen-albert commented on #293
I would be strongly in favor of deploying the TCKs. We would as suggest integrate it in our normal tests.

Do we? It would be nice to have a batteries included version, so everybody can run them without any deeper knowledge. I would expect however that any decent software engineer will be able to setup a decent test with some dependencies. We might want to ask the Eclipse Fdn, but I don't think th

[2021-08-06 18:02] bjhargrave commented on #293
The TCK already uses the normal bnd test mechanism. The TCK jars include Test-Cases headers which `bnd runtests` command uses. The TCK jars have all the proper imports for the JUnit/assertj APIs they use, but you need more than that. You need to set the -tester, -runfw, -runproperties and also the -runbundles/-runrequires for the impl you want to test. That cannot all be pre-specified in the TCK b

[2021-08-09 12:35] #291 closed

[2021-08-09 15:04] #206 closed

[2021-08-09 15:42] #209 closed

[2021-08-23 17:14] bjhargrave commented on #175
The lists returned from the wiring types must be mutable copies. That is, they are a snapshot (copy) and since they are a copy, there is no reason that they should not be mutable. This allows the caller to do things like sort the returned list, combine lists, etc., without having to make another copy.

[2021-08-23 17:37] HannesWell commented on #175
On the other hand, if a caller obtains the list without the need to mutate it (for example just iterates over it), returning a mutable copy just adds a performance penalty.
But the other way around, if the returned List is immutable and a mutable copy is required, creating a copy in the calling code adds no performance penality.
But of course it is not as convenient as having a mutable copy direct

[2021-08-23 17:42] bjhargrave commented on #175
Generally, in OSGi api when we state a returned value is a snapshot, we mean that it is a copy and thus wont change underneath the user. Had the api said an immutable value, then it would allow us to return an immutable value. But snapshot allows for the caller to mutate the value.

In a framework implementation, it can use a list implementation which wraps an immutable list and converts to a muta

[2021-08-23 20:19] HannesWell commented on #175
In this case it should be mutable.

That's a good solution to meet the APIs convention and maintain a good performance and memory-usage.

[2021-08-25 15:27] bjhargrave commented on #266
Fixed by #294

[2021-08-25 15:27] #266 closed

[2021-08-25 15:27] bjhargrave commented on #264
Fixed

[2021-08-25 15:27] #264 closed

[2021-08-25 15:35] bjhargrave commented on #205
Closing.

[2021-08-25 15:41] stbischof opened #306 "Converter-Spec: default-method handling of Interfaces"
Write some Sentence to the spec-book #239

[2021-08-27 11:07] HannesWell opened #316 "[proposal] Provide means to obtain the Bundle referenced by a bundle-entry URL"
In an OSGi environment for example `ClassLoader.getResource()` typically returns a bundle-entry/bundle-resource URL (using a corresponding implementation specific protocol). The [OSGi specification chapter 3.9.6 - "Resource Loading"](https://docs.osgi.org/specification/osgi.core/8.0.0/framework.module.html#i3178562) specifies only a few aspects how those URLs have to be constructed (for example th

[2021-08-30 10:06] HannesWell commented on #316
After your comment I looked into the details again and have to admit that I was wrong and that the resources are only looked up once using the classloader of the bundle they are contained in.
So yes we start with a class/classloader that has the bundle information available. But the found URLs are stored without the class/classloader context, therefore we loose track of them. In itself the the URL

[2021-08-30 12:05] njbartlett commented on #316
To be honest it seems that the choice of URL as a type to exchange data is the source of these problems. URLs are opaque by design. While we are familiar with certain schemes such as 'http' and 'file' that have a well-defined format, it is not only OSGi implementations that are free to create URLs with arbitrary schemes and opaque scheme-specific parts.

Depending on your requirements you could de

[2021-09-06 04:12] fipro78 opened #320 "Typo in OSGi Compendium Spec"
I just noticed a small typo in the OSGi R7 spec for Remote Services:

https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.remoteservices.html#i1693415

In the Intents section it says:

“This is reflected in the service.export.intents and service.exported.intents.extra properties.”

But according to the Remote Services Properties chapter it should be **service.exported.intents**

[2021-09-06 15:29] #320 closed

[2021-09-07 08:45] HannesWell commented on #316
Choosing URL is not ideal in this context, I agree with you.
But I think the root of the problem is, that there is no 'standard Java way' of extracting or even just finding all content via the classloader of a resources that is a directory.
That is the use case. There are some files packed in a jar or file-system directory (if it is for example an exploded bundle) and we have a class from that jar

[2021-09-07 13:26] timothyjward opened #322 "[Typed Event] TCK Missing coverage areas"
- [x] No test DTOs have nested data (157.2.1.1)
- [x] No checking of nested data in untyped DTOs (157.2.2)
- [x] No use of auto-generated topics in delivery (157.3)
- [x] No use of conversion to reified type in a TypedEventHandler (157.4.1)
- [x] No use of service properties to override reified types in a TypedEventHandler (157.4.1)
- [x] No use of event filters (157.4.5)
- [x] No tests of handler

[2021-09-07 13:33] tjwatson commented on #316
In OSGi there is a standard way to get all the paths to resources contained in the bundle as long as you have the class loader that you got the URL from it would be something like this:

[code]
You can then use the resulting paths to get all the resource URLs from the class loader.  If you need to recurse into subdirs then you pass the LISTRESOURCES_RECURSE option also.  I admit this does not solv

[2021-09-07 14:09] stbischof commented on #322
I have a view on this and some more tests that uses the pattern like your tests.

https://github.com/apache/aries-typedevent/blob/main/org.apache.aries.typedevent.bus/src/test/java/org/apache/aries/typedevent/bus/osgi/EventDeliveryIntegrationTest.java#L108

Waiting to get Mockito in with the TCK for the features.

[2021-09-07 14:26] bjhargrave commented on #187
Now that we have an RC1 build of org.osgi.service.feature in Maven Central, when do we expect an RC/Milestone build of the compatible implementation in Maven Central?

[2021-09-07 14:26] bjhargrave commented on #184
Now that we have an RC1 build of org.osgi.service.typedevent in Maven Central, when do we expect an RC/Milestone build of the compatible implementation in Maven Central?

[2021-09-07 14:28] bjhargrave commented on #189
Now that we have an RC1 build of org.osgi.service.component in Maven Central, when do we expect an RC/Milestone build of the compatible implementation in Maven Central?

[2021-09-07 14:50] bosschaert commented on #187
org,apache.felix:org.apache.felix.feature:0.9.2-RC2 passes all the TCK tests. The Apache Felix vote has been kicked off on Tuesday 7 September. All going well this vote will conclude on Friday 10 September at which point it will be available from Maven Central.
https://www.mail-archive.com/dev%40felix.apache.org/msg52550.html

Until then https://repo1.maven.org/maven2/org/apache/felix/org.apache.f

[2021-09-07 16:09] tjwatson commented on #189
I just published the RC1 release of SCR: https://repo1.maven.org/maven2/org/apache/felix/org.apache.felix.scr/2.2.0-RC1/

I'll get a PR going to use it instead of the snapshot.

[2021-09-07 16:59] tjwatson commented on #189
PR #325 updated to use Felix SCR 2.2.0-RC1 release.  This can be considered the compatible implementation for the final OSGi R8 Declarative Services implementation.

[2021-09-08 15:46] bjhargrave commented on #249
Good enough for now.

[2021-09-08 15:46] #249 closed

[2021-09-08 15:47] bjhargrave commented on #189
Closing as we use RC1.

[2021-09-08 15:47] #189 closed

[2021-09-09 12:43] lukasj opened #330 "Add SAAJ API contract definition"
https://docs.osgi.org/reference/portable-java-contracts.html#java-ee-contracts defines Java EE contracts. SAAJ API, package `javax.xml.soap`, defined by JSR-67 and available in Java EE is missing there

[2021-09-09 13:43] rotty3000 commented on #330
also, maybe we could move the issue to that repo. then we can close this one?

[2021-09-09 13:59] bjhargrave commented on #330
I asked @lukasj to open the issue here. I would like to keep all the issues for the OSGi spec project in this repo.

Obviously PRs to change the docs need to be in the docs repo.

[2021-09-09 14:21] timothyjward commented on #322
The Typed Events TCK now has good coverage of the specification

[2021-09-09 14:21] #322 closed

[2021-09-13 12:34] #306 closed

[2021-09-15 15:25] #187 closed

[2021-09-15 15:26] #188 closed

[2021-09-15 15:26] #185 closed

[2021-09-15 15:26] #184 closed

[2021-09-15 15:28] #186 closed

[2021-09-15 15:28] #183 closed

[2021-09-15 23:33] stbischof opened #339 "CM-TCK should use Configuration:getChangeCount() properly"
Configuration:getChangeCount() changes incremented by a positive value. This must not be 1.

`config.getChangeCount() > startCount` not `config.getChangeCount() == startCount+1`

https://github.com/osgi/osgi/blob/d929b0cc8d59284dd558e2bec5ea391fcb772b3d/org.osgi.test.cases.cm/src/org/osgi/test/cases/cm/junit/CMControl.java#L2255

[2021-09-16 15:13] #152 closed

[2021-09-16 15:13] #153 closed

[2021-09-18 19:07] bjhargrave commented on #248
New failure after updated impl: https://github.com/osgi/osgi/runs/3640985975?check_suite_focus=true#step:4:692

[2021-09-18 22:07] stbischof commented on #248
i talked with  @timothyjward  about that.

[2021-09-20 05:20] laeubi opened #346 "[proposal] Enhance org.osgi.service.url to support authentication"
Currently there is no "OSGi-way" to support authentications. Similar to the URL StreamHandler there is only one static `java.net.Authenticator.setDefault(...)`.

My proposal is to support a new service interface `PasswordAuthenticationProvider` that allows registration of handlers that can provide username/passwords:

[code]

a framework supporting this can the set the default authenticatior colle

[2021-09-20 08:06] timothyjward commented on #248
In both of the failures that have occurred since the move to 1.16.1-SNAPSHOT of Aries RSA with mDNS the issue has been in the discovery tests. The ordering of the messages in the logs indicates that mDNS service discovery was particularly slow to resolve when these failures occurred.

It may be that there is also a problem in the discovery provider (I wrote it pretty quickly) but sadly we will alw

[2021-09-20 08:47] timothyjward commented on #248
I have looked further at the test history, and I did find a timing bug in the TCK code which is responsible for at least one of the failures since the implementation update. I have created PR #347

[2021-09-20 09:02] HannesWell commented on #316
What you have described is what we want to do and yes a "mapping URL->classloader" is the only missing part. At the moment my work-around is to use a static WeakHashMap to implement the URL->Bundle lookup, but I think this is far from being optimal.
So in my case it would make the code easier and more reliable if OSGi mandates that the URL connections of framework-implementation specific URL schem

[2021-09-20 12:56] tjwatson commented on #316
We can discuss this for Core R9.  But in the meantime there is no reason an R8 implementation could not implement this now.  You could provide contributions to both Felix and Equinox to cover you on these two frameworks until there is an R9 release (that could be a ways out).

[2021-09-20 12:58] tjwatson commented on #346
I would not recommend we place this in the Core Framework.  Instead it should be a separate specification on top of Core.

[2021-09-20 13:08] laeubi commented on #346
I just found this close related to the [URL Handlers Service Specification](http://docs.osgi.org/specification/osgi.core/7.0.0/service.url.html) but a separate specification would be good as well.

[2021-09-20 13:58] tjwatson commented on #346
The URL handlers have a unique issue because they are singletons and once set they cannot be unset, even by the framework itself without using deep reflection on the java.net package.  This is one reason that the URL handler stuff is a core service because a bundle being started/stopped would have a hard cooping with re-initializing the handlers.  That and the specification wants the bundle URLs t

[2021-09-20 14:05] laeubi commented on #346
That would be fine I think. In fact I have already one bundle providing that "service" and found it very useful so I think it could be useful to become officially supported. I even would contribute my current solution under whatever license is required to be suitable for an OSGi spec.

[2021-09-20 14:41] #95 closed

[2021-09-21 11:24] juergen-albert opened #350 "IllegalArgumentExceptions on ServiceObjects.ungetSetvice"
We recently stumbled a couple of times over an IllegalArgumentException when calling ServiceObjects.ungetService. In our case we are always in an async process and the service we are calling unget for is already unregistered. According to the org.osgi.framework.ServiceObjects Spec the Exception will be thrown under the following circumstances:
[code]
I can guarantee that both conditions are not me

[2021-09-21 12:23] bjhargrave commented on #350
You can already check. ServiceReference.getBundle() != null means the service is still registered. But the result of that check could be invalid as soon as the result is known since another thread can unregister the service. If you really want to be safe, you just need to be prepared for the exception.

[2021-09-21 12:27] bjhargrave commented on #350
For a PROTOTYPE_SCOPE service, ServiceObjects.ungetService must _not_ throw an IllegalArgumentException if the service is unregistered. The javadoc states:

[2021-09-21 12:32] bjhargrave commented on #350
For a non-PROTOTYPE_SCOPE service, BundleContext.ungetService must _not_ throw an IllegalArgumentException if the service is unregistered. (This also includes using ServiceObjects.ungetService on a non-PROTOTYPE_SCOPE service). The javadoc states:

[2021-09-21 12:32] juergen-albert commented on #350
Thanks for the Hint. I will check it like this.

This is true, but as we are ungeting a service here, the result will stay valid as I suspect that the framwork will not reuse service reference Objects.

[2021-09-21 12:33] bjhargrave commented on #350
So in all cases ungetting a service that is already unregistered must not result in an exception (assuming all other requirements are met.)

[2021-09-21 12:35] bjhargrave commented on #350
If the result says the service is already unregistered, that will never change. But if the result says the service is registered, and that is the interesting case since you want to unget the service, then the result can change immediately after you know the result.

But, in any case, you should free to safely always unget the service even when the service is unregistered. The impls seem to be wron

[2021-09-21 12:38] juergen-albert commented on #350
I suspected and hoped as much. I've forwarded this to the felix bug.

[2021-09-21 12:53] tjwatson commented on #350
My understanding from discussing with @karlpauls was that the IllegalArgumentException was also getting thrown if the same service object was getting passed to `ServiceObjects.ungetService` multiple times.  I agree that an IAE should be thrown for subsequent calls after the first call to `ServiceObjects.ungetService` because after that the service object is no longer provided by the `ServiceObject

[2021-09-21 13:04] juergen-albert commented on #350
In our case, we just have ServiceObjects in my hand. It might be a real Prototyped service or not. I can only guarantee that I `ServiceObjects.getService`  and `ServiceObjects.ungetService` just once. If it has been a singleton and somebody else called unget before me, is out of my hands.

[2021-09-21 13:16] bjhargrave commented on #350
If the service is still registered and ServiceObjects.ungetService is called more than once with the same object, then that is a programming error and IAE is appropriate.

I get the feeling in this discussion that no one has a real handle on what is actually happening. @juergen-albert you need to do the complete problem determination to fully understand what is actually happening.

[2021-09-21 21:27] bjhargrave commented on #350
That would be a framework bug. But until we get a definitive understanding of what is really going on in Jürgen's scenario, we are just guessing...

[2021-09-22 11:13] laeubi opened #354 "[proposal][DS] Support coercion of service properties into a type"
Currently one needs to define a Map to get the service properties:
[code]
For activate/Deactivate methods there is an alternative to specify a "configuration annotation" and is very convient, the same should be possible for bind methods as well.

[2021-09-22 17:35] stbischof commented on #354
I recommend to use the [Converter](https://osgi.github.io/osgi/cmpn/util.converter.html#d0e167294) and do the conversation by your own.

But be careful:
Since you only know the Service-Interface `SomeReference`, you do not know which properties are used `configure` the service. Other developers could implement and register a service with different properties then you.

[2021-09-22 17:41] rotty3000 commented on #354
while I agree with @stbischof of using converter yourself, I don't think you should worry too much about properties you don't expect ahead of time (and could therefore encode in a type safe way) since by definition you don't know about them.

[2021-09-22 17:51] laeubi commented on #354
But why should I replicate a function of DS that's already there? That doesn't make much sense ... And as the service will be registered with the properties used to activate the component it makes sense to use the same configuration annotation when consuming that object.

[2021-09-22 18:19] stbischof commented on #354
Expecting I implement `SomeReference` as `SomeReferenceImple` and use a Component Property Type Annotation `ConfigAnn`.
When I configure/register the service the the properties would be converted and injected as an `ConfigAnn` into the `activate` method.

If I understand it correctly, you also want to have `ConfigAnn` in your Service when the `SomeReference` is being injected. But my bundle does n

[2021-09-22 18:47] bjhargrave commented on #354
The problem is disambiguation. In activate/deactivate method we don't pass service objects. In bind methods we do. So when SCR inspects the method signature at runtime, it must decide what each parameter means. Map means service properties. Random type means the service object. That is, SCR cannot easily distinguish between the parameter being a service object or a service properties coercion type

[2021-09-22 18:52] bjhargrave commented on #350
Since this is not a spec bug, can we close this?

[2021-09-22 18:54] bjhargrave commented on #346
See <https://github.com/osgi/osgi/blob/main/CONTRIBUTING.md#contribution-guidelines> for the process about creating a new OSGi spec (or making a substantial update to an existing OSGi spec).

[2021-09-23 05:18] laeubi commented on #354
Either the `ConfigAnn` *is* exported or I can define a `SomeReferenceWellKnownPropertiesAnn`, there is no need/requirement that both using the same annotation and even the `SomeReferenceImple` might not be a dclarative service component.

There are certain services that define a set of properties that *must* be registered along with then (or at least `should`) eg. [Entity Manager Factory (Builder

[2021-09-23 10:59] juergen-albert commented on #350
I think so. We moved the discussion back to the Felix JIRA. We can reopen this if necessary.

[2021-09-23 10:59] #350 closed

[2021-09-29 15:16] #248 closed

[2021-10-07 03:41] scottslewis opened #369 "Update ECF rsa bundle from 4.9.0 to 4.9.1"
Please see pr #368 for update

[2021-10-07 13:05] #369 closed

[2021-10-12 00:52] kriegfrj opened #370 "[proposal] Log Service to use CharSequence"
I've been using the log service a bit recently, and I've noticed a pattern that frequently emerges that we

Usually when logging you want to build up a useful string to output into the log comprised of the useful information. `StringBuilder` is perfect and typically used for this purpose.

However, the log service takes a `String` as its parameter. Therefore, once you've finished constructing your

[2021-10-12 02:53] bjhargrave commented on #370
Are you looking at the [latest log service spec from Core R8](https://docs.osgi.org/specification/osgi.core/8.0.0/service.log.html#d0e54108)? The `LogService` type has been deprecated and replaced by [`Logger`](https://github.com/osgi/osgi/blob/r8-core-final/org.osgi.service.log/src/org/osgi/service/log/Logger.java) which has SLF4J-like logging methods which can of course take `CharSequence` argum

[2021-10-13 15:18] #370 closed, assigned to nobody

[2021-10-13 16:23] #278 closed

[2021-10-13 16:51] timothyjward commented on #279
Aries JPA is the reference implementation

All OSGi specifications have to deal with situations where multiple implementations are present. DS extenders will only process bundles that are wired to their `osgi.extender` capability for this reason.

No specification of which I am aware standardises a PID. Some standardise framework properties that can be used as defaults, but in those cases the prov

[2021-10-13 17:55] laeubi commented on #279
The same applies to JPA (and DS) as well, I really can't think about a use-case where this becomes necessary to have multiple of this services (even though its possible) and in such special configuration one has to make sure that the config binds to the desired implementation (or they can even share the configuration).

[2021-10-13 18:11] tjwatson commented on #278
That certainly is not the intent.

But if weavers are involved then the content read may change over time as weavers are registered/unregistered.  Once a class is defined, that is it until the bundle is refreshed and we throw away the class loader.  If a weaver comes along after a class is defined it cannot change the current class.  Yet if we allow weavers to come along to transform resources I f

[2021-10-14 06:35] laeubi commented on #278
Yes, but that's the same with many aspects in OSGi (All kind of Hooks including WeavingHooks, ConfigPlugin, ...) and the WeavingHook specification suggest to refresh the packages to make sure it weaves all classes as it might have missed (some) classes or woven classes remain afterwards.

That's why I wrote I won't require any caching or special handling from the framework to handle this, this is

[2021-10-14 06:59] laeubi commented on #278
The problem with any provider specific solution is that it hinders wide-adoption and thus the proposal to have a standardized solution.

[2021-10-15 16:40] bjhargrave opened #372 "core: Add support for ServiceLoader to the Core Framework"
We have a Service Loader Mediator spec. But it is not built into the framework and currently depends upon weaving.

I would like to explore adding support directly unto the framework for the Service Loader model. JPMS has direct support for the Service Loader model via `uses` and `provides` in the module-info file. JPMS has advantages since it is built into the java runtime, so we may not be able

[2021-10-15 17:24] maho7791 commented on #372
I would support that as well, because the ServiceLoader Mediator requires its Capabilities to work properly.
Especially Jarkarta API's (JPA, JAXB, Jax-Ws, Websockets) make use of the ServiceLoader to find the Implementation. The OSGi Manifests often event dont have the Capabilities or they are not complete. Having this support in the core framework, would solve major pain points.

[2021-10-24 00:03] scottslewis opened #375 "Assumption in RemoteServiceAdminExportTest that the *first* supportedConfigType be used for export"
In the RemoteServiceAdminExportTest there is the assumption in the test code that the first supportedConfigType...i.e. supportedConfigType[0] is the config type that should be used to export the remote test (in the tests that actually export the service via RSA).

This assumption is incorrect in environments where the the supportedConfigType to be used is one other than supportedConfigType[0].

Th

[2021-11-04 19:48] scottslewis commented on #375
Closing.  Thanks BJ.

[2021-11-04 19:48] #375 closed

[2021-11-10 15:22] bjhargrave commented on #330
@rotty3000 Can you make a PR for this? I am not sure what SAAJ is and where to find its API?

[2021-11-10 15:28] bjhargrave commented on #194
@jjh-aicas Does aicas plan to work on this at some point? Not sure how this will fit in with the planned deprecation and removal of SecurityManager in a future Java release.

[2021-11-10 15:29] bjhargrave commented on #170
@rotty3000 Will you be able to work on this for R9?

[2021-11-10 15:35] bjhargrave commented on #54
I will go through the Compendium specs and make a recommendation about which specs to update to jakarta and which specs will not be updated and removed from Compendium.

[2021-11-10 15:38] bjhargrave commented on #59
I think the answer here is to go straight to the version of Servlet in Jakarta EE 9 as part of the namespace change. See #54.

[2021-11-10 15:38] bjhargrave commented on #43
@bosschaert What remains to be done with this issue?

[2021-11-10 15:39] bjhargrave commented on #40
@rinswind Closing this issue. Please reopen if you find time to work on it.

[2021-11-10 15:39] #40 closed

[2021-11-10 15:40] bjhargrave commented on #38
@rotty3000 @bosschaert What do we want to do here?

[2021-11-10 15:41] bjhargrave commented on #36
@rotty3000 Closing. Please reopen if you find time to work on it.

[2021-11-10 15:41] #36 closed

[2021-11-10 15:42] bjhargrave commented on #31
There may be multiple changes to the spec needed as part of updating to support the Jakarta EE 9 spec versions.

[2021-11-10 15:43] bjhargrave commented on #29
Closing. Please reopen if someone finds time to work on this.

[2021-11-10 15:43] #29 closed

[2021-11-10 15:43] bjhargrave commented on #26
@timothyjward @bosschaert Closing. Please reopen when someone finds time to work on this.

[2021-11-10 15:43] #26 closed

[2021-11-10 16:05] rotty3000 commented on #38
The implementation already supports this by specifying a service property `service.scope=prototype` on the capability, so maybe there is no spec change needed.

[2021-11-10 16:10] rotty3000 commented on #170
This will have very low priority for me, but I can try. I would call it
doubtful.

On Wed., Nov. 10, 2021, 10:29 a.m. BJ Hargrave, ***@***.***>
wrote:

[2021-11-11 08:46] cziegeler commented on #54
What is the general plan? Will new specs only support api from the jakarta namespace? Or both? Or do we decide per spec?

[2021-11-11 09:10] timothyjward commented on #54
If we can simplify the migration/coexistence story then that's best for users.

If Felix would have to package two copies of Jetty to support the old and new packages then that's clearly impractical, but if it's possible to support both apis from a single implementation bundle then I think we should.

[2021-11-11 09:22] cziegeler commented on #54
I would assume that you can handle supporting the old packages via wrappers - should at least work for http whiteboard.
I would prefer that as well

[2021-11-11 12:59] bjhargrave commented on #54
I think the plan would be that Compendium R9 would be jakarta only. Compendium R8 does not cease to exist, so people can implement and use R8 based impls. Impls of R9 can support old javax if they want but that would not be an R9 spec requirement and the R9 TCK would test jakarta only.

I don't want to have an R9 spec requiring support for both jakarta and javax. Doing so would be an impl choice a

[2021-11-11 13:04] cziegeler commented on #54
ok, fair enough - in that case, we must make sure that implementations can support javax packages without a high burden. For example, if we have an api package in version 1.3 which uses a javax package as part of their signature, changing that to jakarta packages and updating the major version to 2.0 sounds reasonable from an api and also user perspective. But it makes it very hard if not impossib

[2021-11-11 14:28] bjhargrave commented on #54
Well the obvious choice is to bump the spec major version and the spec API package major version and replace javax API references with jakarta API references. Renaming the spec API packages (so that the javax referring package names and the jakarta referring package names are distinct) seems a large burden on everyone for the very small community of implementors who want to implement both old and

[2021-11-11 14:29] tjwatson commented on #54
To use the HttpService as an example.  I think this is a case where we would deprecate (or actually remove it from the specification).  An HTTP Whiteboard implementation could choose to still understand javax Servlet registrations but would not be required to.  But we do have a difficult time with org.osgi.service.http.context.ServletContextHelper.

[2021-11-11 14:45] cziegeler commented on #54
Right, I'm exactly worried about that class - if we provide a 2.0 API with a ServletContextHelper bound to the jakarata package

[2021-11-11 14:56] timothyjward commented on #54
A burden also applies to users of the specification if only the jakarta API namespace is supported. If, for example, I have an existing runtime and I want to add a new JAX-RS application or a new Servlet then I either:

* Have to keep using the old javax API namespace in my new code
* Upgrade all my existing code to the new Jakarta namespace
* Run more than one whiteboard implementation (one for j

[2021-11-11 15:20] bjhargrave commented on #54
I am not sure what you are arguing for? Doing nothing about jakarta? I don't think that it practical.

We either have to bump the major version of the API packages and people can use the current R8 APIs/impls or use the new R9 APIs/impls. Or we create entirely new package names (`org.osgi.service.jaxrs.client` becomes ??) for all the API packages for a very small set of use cases.

I am not concer

[2021-11-11 15:32] cziegeler commented on #54
Picking a side is not really user friendly - I understand thats what servlet engine implementations are currently doing, but we can do better.
Regardless, at least for http whiteboard, the spec I'm concerned most, it will work with a 2.0 version of http whiteboard using jakarata packages - that's because there is no provided service defined in the spec, just  whiteboard interfaces. The runtime ser

[2021-11-11 15:33] bjhargrave commented on #54
The whole jakarta namespace change is not user friendly... yet here we are :-)

[2021-11-11 15:36] timothyjward commented on #54
Except for the `ServletContextHelper`, which references `HttpServletRequest` and `HttpServletResponse`

The JAX-RS whiteboard may be safe, but I'm not yet certain. Transaction Control may be able to get away with only making the JPA package version 2.0.

[2021-11-11 15:40] tjwatson commented on #54
If we want to leave the option open for implementations we could pick a new package name for the types that reference jakarta types.  For example, maybe `org.osgi.service.http.jakarta.context` makes sense for the HTTP Whiteboard Jakarta base spec.

[2021-11-11 15:59] cziegeler commented on #54
ah sorry, I meant everything in the http.runtime package - there is no need to have a 2.0 version for that
http.whiteboard and http.context have those reference - but supporting two different major versions shouldn't pose a problem

Touché - but just because someone does a mess to users, thats not a good reason to repeat that :)
I still believe for http.whiteboard we are fine - if the package for

[2021-11-11 16:04] bjhargrave commented on #54
Egads, no! This is an inflection point, we do not want to bake it permanently into the api names.

A bundle must be either fully javax or fully jakarta. I do not want a goal of this work to be supporting bundles attempting to have parts be javax and parts be jakarta. Under this goal, there is no need to bake jakarta into package names. We either keep the package names and bump the major version or

[2021-11-11 16:43] tjwatson commented on #54
Fine, but we are already going to 2.0 for the spec version with breaking changes having a renamed package is perfectly acceptable to me.  I think we can come up with a name for the package to make it easier for impls that want to support both.  I'll just throw one more name out there `org.osgi.service.http.helpers`.  Arguably a better name to leave it open for adding other helpers and not make it

[2021-11-11 17:18] cziegeler commented on #54
Should we move this discussion to a http whiteboard specific issue? As mentioned I see an easy path forward which hopefully will make BJ and everyone else happy :) I could create that one and outline the idea

[2021-11-12 06:09] cziegeler opened #381 "Update Http Whiteboard Spec for Jakarta EE 9"
As discussed in #54 we want to update the Http Whiteboard specification to Jakarta EE 9. The updated specification should be Jakarta EE 9 only (and not mix with earlier EE versions) - the specification will only use jakarta.servlet packages and not refer to javax.servlet packages.
At the same time, the specification must allow implementations to implement the R7 spec in combination with this new s

[2021-11-12 06:09] cziegeler commented on #54
Created #381 for http whiteboard

[2021-11-12 10:30] stbischof commented on #381
I tryied to asked this i the last call but could not remember the answers correctly.

When looking an campatible librarys i saw that jetty with Jakarta namespace exists only in Jetty11. But this needs in minimum a jvm11.

https://www.eclipse.org/jetty/download.php

[2021-11-12 20:28] #293 closed

[2021-11-14 13:53] poolborges commented on #330
### SOAP with Attachments API for Java (SAAJ)

`"The initial API was part of JAXM 1.0 in JSR-67 and was released in December 2001; the specification was later separated from JAXM in a maintenance release in June 2002."`

SAAJ is a standard Java API to produce and consume messages conforming SOAP specifications (SOAP 1.1, SOAP 1.2, SOAP Attachment Feature)

### Propose Contract definition

* Contra

[2021-11-15 03:55] rotty3000 commented on #330
Thanks, this is helpful.

I'll make the changes in the next few days.

Cheers

On Sun., Nov. 14, 2021, 8:53 a.m. Paulo Borges, ***@***.***>
wrote:

[2021-11-17 09:25] timothyjward opened #385 "Update JAX-RS Whiteboard Spec"
Thoughts so far:

* Jakarta namespace changes
    - Whiteboard service types should be a simple change
    - Injection of underlying types is harder (e.g. `@Context HttpServletRequest`). Do we require that the whiteboard run on a jakarta servlet container?
* Minor spec updates
    - `osgi.jaxrs.application.select` is defined as a `String` but should be a `String+` like the extension select propert

[2021-11-17 11:44] maho7791 commented on #385
We already have a, JaxRs implementation based on Jersey that not fully passes the TCK yet. So I think there is already a Jersey based on the jakarta namespace. If the timeline is not to hard we, can imagine to update our Jersey implementation and make it pass the TCK.

[2021-11-17 15:22] bosschaert opened #386 "Feature Launcher"
Now that we have the Feature Service specification on Compendium R8, we should look at another spec to launch features.

[2021-12-07 19:39] tjwatson commented on #226
I see two minimum requirements:

1) We need to be able to dynamically remove implementations of `java.net.URLStreamHandlerFactory` and `java.net.ContentHandlerFactory` which were dynamically set with the corresponding static set methods on `URL` and `URLConnection`.
2) When a `java.net.URLStreamHandlerFactory` or `java.net.ContentHandlerFactory` is removed then we need any handlers that are cached

[2021-12-08 16:51] bjhargrave commented on #59
#381 supersedes this.

[2021-12-08 16:51] #59 closed

[2021-12-08 16:52] bjhargrave commented on #31
#381 supersedes this as it must support the Jakarta Servlet version.

[2021-12-08 16:52] #31 closed

[2021-12-08 16:54] #38 closed

[2021-12-20 00:20] akulpillai opened #391 "[Security] Workflow bnd-test.yml is using vulnerable action gradle/wrapper-validation-action"
The workflow bnd-test.yml is referencing action gradle/wrapper-validation-action using references v1. However this reference is missing the commit [89eda1fdc0167f59521d2bb10767f7169fb4d018](https://github.com/gradle/wrapper-validation-action/commits/89eda1fdc0167f59521d2bb10767f7169fb4d018) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version co

[2021-12-20 16:11] bjhargrave commented on #391
It is not just this workflow or this repo. We really need `gradle/wrapper-validation-action` to update their `v1` tag to include the latest fixes for all downstream users. Perhaps you can poke them?

[2021-12-22 10:23] bosschaert opened #392 "Converter's DTOUtil is overly reliant on exceptions for normal execution flow"
DTOUtil.isDTOType() [1] relies on exceptions to find out whether a class has a public constructor and to find out if it has any methods - as a DTO should have a public no-args constructor and no methods beyond the ones defined by Object.class.

This works but is wasteful and slow. We should implement a different strategy to identify a DTO class as such.

[1] https://github.com/osgi/osgi/blob/main/

[2022-01-04 15:29] #392 closed

[2022-01-04 16:04] cziegeler opened #394 "[http whiteboard] HttpServiceRuntimeTestCase.test_140_11_2 fails"
The HttpServiceRuntimeTestCase.test_140_11_2 might fail if the http whiteboard implementation provides the capability with more than one version and version 3.1.0 is not the first.
The test code at https://github.com/osgi/osgi/blob/main/org.osgi.test.cases.http.whiteboard/src/org/osgi/test/cases/http/whiteboard/junit/HttpServiceRuntimeTestCase.java#L559 only checks the first version in the list of

[2022-01-05 16:48] #394 closed

[2022-01-05 16:51] bjhargrave commented on #391
We will await the action updating the v1 tag.

[2022-01-05 16:51] #391 closed

[2022-01-05 18:58] rotty3000 commented on #330
@lukasj @poolborges could you confirm that I've got this correct (just the last commit)?

[2022-01-06 05:43] #330 closed

[2022-01-07 09:26] lukasj commented on #330
Yes, that's correct (careful reader may say that older releases are compatible with SE 5 and were for a long time but given where we are, saying 6 as the minimum is fine from my point of view)

[2022-01-08 00:17] poolborges commented on #330
Yes, is correct.

[2022-01-10 14:31] stbischof commented on #386
The solution MUST be able to handle a Bundle-Start-Order based on
 * [Start-Level](http://docs.osgi.org/specification/osgi.core/8.0.0/framework.startlevel.html):  `start-level`
 * [Conditions](http://docs.osgi.org/specification/osgi.core/8.0.0/service.condition.html) - `start-condition`

[2022-01-17 18:50] kwin opened #400 "DS 1.5: Clarify sorting order of collections injected with Field Injection and Replace Field Option"
According to https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.component.html#d0e30610

It isn't stated whether the collection is sorted ascending or descending based on `ServiceReference.compareTo()`. This should be explicitly mentioned (even if ascending is the natural sorting order). Maybe even an example illustrating that a higher ranked service follows after a lower ranked service i

[2022-01-18 08:49] kwin commented on #400
I think in most of the cases a descending order is actually wanted to make it possible that a higher ranked service can override a lower ranked service. Probably that should be mentioned as well.

[2022-01-18 14:59] bjhargrave commented on #400
I think [ServiceReference.compareTo](https://docs.osgi.org/specification/osgi.core/8.0.0/framework.api.html#org.osgi.framework.ServiceReference.compareTo-Object-) javadoc is quite clear on the sorting order: lower comes before higher (i.e. ascending). Which is generally how people expect the natural sort order. So I think the ServiceReference.compareTo javadoc is sufficiently clear on this matter.

[2022-01-18 15:27] tjwatson commented on #400
One area of the spec that lacks any mention of order is [ComponentContext.locateServices](https://docs.osgi.org/javadoc/osgi.cmpn/8.0.0/org/osgi/service/component/ComponentContext.html#locateServices-java.lang.String-)

I think we must mention something here about order.  I think the current compatible implementation (Felix SCR) returns the array in reverse natural order here.

[2022-01-18 16:41] kwin commented on #400
Also [BundleContext.getServiceReferences(java.lang.Class<S> clazz, java.lang.String filter)](https://docs.osgi.org/javadoc/osgi.core/8.0.0/org/osgi/framework/BundleContext.html#getServiceReferences-java.lang.Class-java.lang.String-) and  [(java.lang.String clazz, java.lang.String filter)](https://docs.osgi.org/javadoc/osgi.core/8.0.0/org/osgi/framework/BundleContext.html#getServiceReferences-java.

[2022-01-18 16:57] bjhargrave commented on #400
OK, I will take an effort to update the locations which are mute on ordering. Note, the update may be to state that no ordering is specified. For example BundleContext.getServiceReferences will likely be updated to state the returned references are not ordered in any way.

[2022-01-19 15:37] bjhargrave commented on #400
See PR #401

[2022-01-19 16:27] stbischof commented on #226
related openJDK issues:
https://bugs.openjdk.java.net/browse/JDK-8262102

[2022-01-20 12:18] bosschaert opened #402 "Create a Service Release of the Converter Util Jar"
The following improvement was made recently to the Converter:

* #392

We need a Service Release to allow users to pick up this improvement.

[2022-01-20 12:26] bosschaert commented on #402
Associated email thread: https://www.eclipse.org/lists/osgi-dev/msg00074.html

[2022-01-20 16:09] #400 closed

[2022-01-21 08:28] cziegeler commented on #381
I've experienced with different variations and this is my proposal:

- http whiteboard specification is updated to version 2
- javax.servlet is replaced everywhere with jakarta.servlet
- New java package o.o.s.h.whiteboard.extensions (we can discuss the name separately) with the *services* from o.o.s.h.context and o.o.s.h.whiteboard
- package o.o.s.h.whiteboard contains only the HttpWhiteboardCons

[2022-01-21 12:30] juergen-albert opened #403 "Provide Service Capability Annotation"
DS Annotations conveniently result in Requirements and Capabilities for Services. This often causes resolver problems, when a DS Components references a Service that is registered manually and the usual solution is to add the Capability manually with something like `@Capability(namespace = ServiceNamespace.SERVICE_NAMESPACE, attribute = ServiceNamespace.CAPABILITY_OBJECTCLASS_ATTRIBUTE + ":List<St

[2022-01-21 13:55] timothyjward commented on #403
This is slightly more complex than other cases because of the relationship between the objectclass attribute and the uses constraint directive.

[2022-01-21 15:56] bjhargrave commented on #403
Yes, I was going to point out that the example `Capability` lacks the `uses` element.

[code]

It seems to me that this is just sugar and not additional functionality.

I was able to author my own `ServiceCapability` annotation using existing Bnd function:

[code]

[2022-02-08 00:09] bjhargrave commented on #402
I also want to release the updated osgi.annotation jar with the fix: #404. I am thinking it should be version 8.1.0 since the `org.osgi.annotation.bundle` package is updated to version 2.0. I don't think it is time to release a version 9.0.0 yet.

[2022-02-08 23:57] bjhargrave commented on #402
Service release has been made. 1.0.9 of the converter jar and 8.1.0 of osgi.annotation are now in maven central.

[2022-02-08 23:57] #402 closed

[2022-02-16 16:14] bjhargrave commented on #403
To be done in the Bnd annotations project.

[2022-02-16 16:56] bjhargrave commented on #226
Consensus is to start an Apache Felix subproject to develop a shared library for all to use in sharing these JVM singletons. We would then promote this to other projects (e.g. Tomcat) which suffer from this issue. Result should also be usable as a JPMS module.

[2022-02-16 17:47] bjhargrave commented on #381
Also need to support new Servlet features since Servlet 3.1 (current base) to Jakarta Servlet 5.0 in Jakarta EE 9.

Preprocessor should change to no longer extend Filter. Just be a clone.

OSGi specs which move to support Jakarta API should still target Java 8 in their API and TCK, but the TCK execution can run on Java 11 (or later) to enable compatible implementations which themselves require Jav

[2022-02-16 21:13] rotty3000 commented on #226
While researching/prototyping an API we might also consider the [Tomcat implementation](https://github.com/apache/tomcat/blob/9.0.x/java/org/apache/catalina/webresources/TomcatURLStreamHandlerFactory.java), not to model based on it, but to assure that it's use case is accounted for to improve the likelihood of adoption.

[2022-02-17 08:05] cziegeler commented on #381
Based on our discussion I created a draft api version at : https://github.com/osgi/osgi/tree/design/381/org.osgi.service.servlet.whiteboard

All packages are below the new root org/osgi.service.servlet/whiteboard and as this is a major update of the specification, I started with 2.0 version for all packages.

We need to decide whether we want the runtime packages next to the whiteboard package (li

[2022-02-22 08:43] grgrzybek commented on #381
@cziegeler

The one addition compared to 3.1 is the Push API:
[code]

I'm working on Pax Web project and recently we've released version 8.0.1. It should be (I didn't check the TCK yet...) almost compatible with CMPN R7/R8 specs (with one explicit violation, which is irrelevant here).
I can test Pax Web with the new 102/128/140 specifications soon(ish).

For a while I was thinking that `org.osgi.s

[2022-02-22 10:04] cziegeler commented on #381
Thanks @grgrzybek  - yes PushBuilder is new, but I expect it to just work and we don't need anything additional in the spec to make it work. For HttpService, I think the whiteboard will cover all those use cases. In addition, at least for the Apache Felix implementation I plan to provide an implementation that supports Http Service (javax.servlet), the javax.servlet based Whiteboard and the jakart

[2022-02-22 10:40] grgrzybek commented on #381
I'll clone https://github.com/osgi/osgi/tree/design/381/org.osgi.service.servlet.whiteboard and play with it for a while. I wanted to test Pax Web 8 with Jetty 10 and I can do the same with Tomcat 10 / Jetty 11 as well. At quick glance, I don't think anything is missing, however I was confused by the `org.osgi.service.http` → `org.osgi.service.servlet` rename.

[2022-03-11 19:55] kwin opened #410 "Add tags per release of individual artifacts on Maven Central"
There is no changelog for micro version updates, e.g. for differences between org.osgi:org.osgi.service.event 1.4.0 and 1.4.1 (https://repo1.maven.org/maven2/org/osgi/org.osgi.service.event/). Both are deployed to Maven Central but looking at the commits in https://github.com/osgi/osgi/commits/main/org.osgi.service.event doesn't expose when each of those versions have been released.

Please add ta

[2022-03-11 20:20] rotty3000 commented on #410
Hi @kwin I know this isn't a perfect solution but it might help you at least find differences between existing versions:

[code]

(where `bnd` is installed via `brew install bnd`)

[2022-03-11 20:21] rotty3000 commented on #410
FYI, the two jars don't even need to be OSGi bundles, bnd will still diff them. It's a very useful feature.

[2022-03-11 20:24] rotty3000 commented on #410
Oh one more thing, if you use the -m switch you get a MANIFEST diff, which you can find the git sha at the moment of release:

[code]

[2022-03-12 01:04] bjhargrave commented on #410
Since multiple artifacts of differing versions are released from a given build, there is no reasonable way to put an artifact-specific tag in the git repo for each artifact. Our build processes do not cover this. There is a single git tag for the build.

But, as Ray stated, each bundle has a Git-SHA manifest header which you can use for diffing.

[code]

The manifest's also hold a Git-Descriptor m

[2022-03-13 10:51] cziegeler opened #411 "Feature Service Implementation must support ServiceLoader"
According to the last paragraph in https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.feature.html#d0e156585 , the FeatureService can be obtained through the service loader. However, the release of org.osgi.service.feature:1.0.0 does not contain the required metadata for the service loader

[2022-03-13 10:54] cziegeler commented on #411
This issue is actually invalid, as I was looking at the *API* not the *implementation* (not enough coffee yet)

[2022-03-13 10:54] #411 closed

[2022-03-16 09:59] stbischof opened #413 "package-version generation using annotation"
For me it wasn`t clear when version of exported packages could/must/must not be generated by tools. [SPEC](https://osgi.github.io/osgi/core/framework.api.html#org.osgi.annotation.bundle.Export)

`@Export`
[code]
I thought that the only allowed way to generate a version is a `@Version` annotation.

So I would suggest so change the text into this.

[code]

[2022-03-22 19:59] stbischof opened #414 "Add Service-Capability for org.osgi.service.condition.Condition to Framework"
Since the Framework must provide a Condition-Service it should provide a Capability.
[code]
So we should also add this Requirement to the core framework condition chapter https://docs.osgi.org/specification/osgi.core/8.0.0/service.condition.html

[2022-03-29 09:59] timothyjward commented on #385
Having left this to settle for a while, and looking at what is happening in similar specifications (HTTP whiteboard), I think that we have the following changes:

1. Rename the specification to the Jakarta RESTful Web Services Whiteboard to match [the new Jakarta name](https://jakarta.ee/specifications/restful-ws/)

2. Rename the `org.osgi.service.jaxrs.*` packages to `org.osgi.service.jakartars.*

[2022-03-29 10:15] laeubi commented on #372
I once tried to use that but it seems not fitting very well because it seem to be limited to the use of [ServiceLoader.load() calls](https://blog.osgi.org/2013/02/javautilserviceloader-in-osgi.html) but I must confess I never wanted to use it that way but the other way round: Accessing  ServiceLoader specified services in an OSGi way

I once written a extender-bundle that simply discovers SPI in `

[2022-03-29 10:29] laeubi opened #416 "Provide documentation how to use the TCK"
The TCK is [here](https://github.com/osgi/osgi/tree/main/osgi.tck) but there is no readme and also the wiki do not describe how to use it.

It would be useful to have a document describing:

- how is it build, or could I e.g. consume some prebuild binaries from somewhere?
- how to I run an own implementation of a given service against the TCK?
- how do I get a report? Could it be formatted, e.g. a

[2022-03-29 12:05] stbischof commented on #416
Hi,

maybe we can do this together. i wanted to do such an example wist OSGI-JDBC.
Currently the TCK just test one compatible implementation insote the project.

But most code test bundles should be available. But then have to be customizes to your implementation.

@See:
https://oss.sonatype.org/content/repositories/snapshots/org/osgi/osgi.tck.cmpn/8.0.0-SNAPSHOT/

Do you have a Link to the Implem

[2022-03-29 12:22] laeubi commented on #416
As [gemini-jpa](https://www.eclipse.org/gemini/jpa/) seems dead I started to improve and test [pax-jpa]( https://github.com/ops4j/org.ops4j.pax.jpa/) for a while and try to make it run against the official tck as well, I even asked a while back for [pax-useradmin](https://github.com/ops4j/org.ops4j.pax.useradmin) but at that time the TCK was only available to OSGi-members. I also know that [pax-we

[2022-03-29 12:52] stbischof commented on #416
This shows how I added the TCK to one of my projects.

https://github.com/de-jena/MDO/commit/1efe94d9758cb83593c36802fce8f16546bab9ba

[2022-03-29 13:16] laeubi commented on #416
It seems the example repository is private at least github gives me 404 error...

I'm new to the tck stuff but if it is "just jars" it should be possible to deploy them to maven central: https://maven.apache.org/repository/guide-central-repository-upload.html as bnd/maven plugins already deployed to maven central there should be everything available right now.

[2022-03-29 13:21] rotty3000 commented on #385
Sounds reasonable!

[2022-03-29 13:30] stbischof commented on #416
1. release maven
i you have the time to this. you should talk with us in next osgi-call.

the first 2 topic of your link needs a lot of time:
* releases: -> add scripts to repo  ;-)
* javadoc and sources for IDE lookup: -> feel free to write them ;-)

2. yes its private - sorry

* Download this [ttps://oss.sonatype.org/content/repositories/snapshots/org/osgi/osgi.tck.cmpn/8.0.0-SNAPSHOT/](https://

[2022-03-29 13:34] rotty3000 commented on #372
Service Loader Mediator automatically makes services OSGi service already provided you set the `register` directive which includes the type, which `@ServiceProvider` does for you. Since the spec lets you add arbitrary service properties via the Capability so does SPI Fly as does `@ServiceProvider`. Finally Aries SPI Fly let's you make prototype scope services by adding the property `service.scope=

[2022-03-29 13:38] laeubi commented on #416
As I have no idea how the tck is build I can't guess, also don't know how often they are released, but BND should be able to generate at least a source-jar and the javadoc toll should be capable to generate the javadoc, but I have only done this with maven sometimes no idea about gradle, thats why I also opened this ticket as there is not much documentation on how to build this :-)

But as it is a

[2022-03-29 13:42] laeubi commented on #372
@rotty3000 probably yes... I just failed to get it setup and the aries stuff often pulls in a lot of stuff, much more effort I want to spend for a simple lookup :-)

At least this "automatically makes services OSGi service already provided" has not worked well starting without a managed setup (e.g. karaf).

[2022-03-29 13:49] rotty3000 commented on #372
SPI Fly can have as little as itself and OSGi as a dependency. (See org.apache.aries.spifly:org.apache.aries.spifly.dynamic.framework.extension:1.3.4). You do not need a managed setup for everything described above. You _do_ however have to have the correct metadata.

[2022-03-29 13:55] bjhargrave commented on #385
This sounds fine. I assume this change will depend upon the changes to http whiteboard?

[2022-03-29 13:59] bjhargrave commented on #416
Did you look at the CI build scripts?

https://github.com/osgi/osgi/blob/f792be7d8d54f166d06fcc72a1eeaf95ac5ebef9/.github/workflows/cibuild.yml#L75-L80

[2022-03-29 14:05] stbischof commented on #416
GEAT, @bjhargrave . Thank you! I just a bit curios. When does this happen?

[2022-03-29 14:07] bjhargrave commented on #416
https://github.com/osgi/osgi/pull/382/commits/2143bc4a1c23fce97139e6e1b935b1430e26da51

[2022-03-29 14:14] timothyjward commented on #385
I'm not certain that this change does have a strict dependency on the HTTP whiteboard changes. The Jakarta and OSGi specifications for this don't have any hard links to the Servlet or HTTP whiteboard specifications (only a soft dependency on being able to `@Context` inject the `HttpServletRequest` if one is available). It was/is possible to run a JAX-RS runtime without a Servlet Container directly

[2022-03-29 14:21] bjhargrave commented on #385
OK, so we won't have a spec dependency, but we will probably have a compatible implementation dependency.

[2022-03-29 14:31] maho7791 commented on #385
Our Jersey implementation uses the HTTP Whiteboard, but we also have an option not to use it.
We can use Jersey as plain Servlet, with or without HTTP Whiteboard.
We usually use Jetty, which already comes with a jakarta version. So I dont see any problems for the moment, from our side

[2022-03-29 14:44] laeubi commented on #372
@rotty3000 I'll give it another try nex time it becomes relevant, maybe I can use this for pax-jpa as well, maybe its just a matter of

are you a developer of the spi-fly project as well?

[2022-03-29 14:45] laeubi commented on #416
Can't wait please keep us informed, I think that's also something interesting for the osgi-wg mailing list as well, but maybe its just me haven't noticed this yet :-\

[2022-03-29 16:35] stbischof commented on #416
Here is an example where i used the TCK to test org.osgi.service.log in a maven project. bnd-maven-testing plugin executes the bndrun.

https://github.com/stbischof/equinox.framework/blob/use_bnd/bundles/org.eclipse.osgi.tests/osgi_tck_log.bndrun

[2022-03-30 16:10] bjhargrave commented on #414
Need to add a Capabilities section to all Core specs where the framework provides a service.

[2022-03-30 16:12] bjhargrave commented on #410
Closing as we already provide Git descriptive information in each artifacts manifest.

[2022-03-30 16:12] #410 closed

[2022-03-30 17:08] bjhargrave commented on #381
We discuss the proposal in the branch in the spec call today. It looks good. We had a couple of comments.

1. ServletContextHelper should be moved into a context sub-package of whiteboard (similar to how it is in a context sub-package in the current Http Whiteboard spec).
2. The branch should also include the removal of the old org.osgi.service.http.whiteboard projects and other changes related to

[2022-03-30 17:09] bjhargrave commented on #385
We discussed the proposal in the branch in the spec call today. It looks good. We asked for the PR to be moved to a branch which Tim will do.

[2022-03-30 17:12] bjhargrave commented on #416
On the spec call today, BJ suggested modifying how the TCK is packaged and executed to use a more modern maven structure and using bnd-testing-maven-plugin to execute the TCK. This would be more useful for others to see how to run the TCK in their builds once we eventually release the TCK artifacts to Maven Central.

[2022-04-02 09:23] laeubi commented on #372
@rotty3000 currently using JAXB in OSGi requires an [OSGi-aware serviceloader](https://github.com/eclipse-ee4j/glassfish-hk2-extra/blob/master/osgi-resource-locator/src/main/java/org/glassfish/hk2/osgiresourcelocator/ServiceLoader.java) do you think you can help the [eclipse-ee4j people](https://github.com/eclipse-ee4j/jaxb-ri)  to add appropriate headers so it works with the spifly instead?

I'm

[2022-04-03 16:24] rotty3000 commented on #372
Hey @laeubi sorry for the delayed answer but I wanted to make a first pass to fix the SPI Fly documentation [1] so that I could use it to answer your question :D

Please review it to see if that helps you with JAXB (it's not very long). I've been using SPI Fly's *auto properties* [2] to handle JAXB in Aries JAX-RS whiteboard [3] successfully ever since this was implemented. In other words I didn't

[2022-04-03 17:52] laeubi commented on #372
No problem, I'll try to give it a try the next days, the documentation is much clearer now I think. I'm just a bit uncertain about JAX weaving versus the OSGi-Serviceloader, but this sounds interesting for cases where the consumer is not aware of OSGi..

There is just one use-case I feel missing (I hope it is ok to discuss this in the context of this issue, if not let me know a better place):

Acc

[2022-04-05 02:14] rotty3000 commented on #372
Hi @laeubi I think this is an interesting conversation. Could we take over to the [Aries dev mail list](mailto:dev@aries.apache.org) or possibly in [Aries JIRA](https://issues.apache.org/jira/projects/ARIES)?

[2022-04-05 05:30] laeubi commented on #372
I have created https://issues.apache.org/jira/browse/ARIES-2071

[2022-04-10 13:03] juergen-albert opened #420 "Activation behavior of Components on referencing without injection."
I have a bit of an odd Situation and I'm not sure if I have a faulty
expectation:

I have 2 Components:

[code]

I have a second component that does require this Condition to be there
and to be activated. It does not need to be injected, so I reference it
only in the annotation.

[code]

My expectation thus has been, that the EquinoxConfigInitializerImpl
would have been activated before Component2

[2022-04-10 13:05] juergen-albert commented on #420
I believe this warrants some further discussion. We should either describe this behavior in the Spec or think about it. The difference in activation time might not be what the user expects, especially when a Service is Immediate.

[2022-04-10 14:00] tjwatson commented on #420
See https://issues.apache.org/jira/browse/FELIX-5570 for some details.  David Jencks had indicated that this behavior was mandated by the specification

[code]

So 1) we need to confirm what David says about the spec requirement, 2) I don't look forward to solving a whole new set of deadlock issues this may expose if we are mandated to create immediate components before registration.

[2022-04-10 14:17] rotty3000 commented on #420
@juergen-albert this is the same behaviour you will see if your `@Reference` field | constructor/method parameter is either `ServiceReference<S>` or `Map<String, Object>` so I believe there is much precedent within the spec itself for how things work today.

[2022-04-10 23:11] bjhargrave commented on #420
Service registration happens-before activation. This enables delayed components. An immediate component is activate once it is satisfied. Satisfaction is not coupled to service registration. Immediate components do not need to be services.

The spec must not require immediate component activation to happen-before service registration.

In your example, I think a case could be made that the referen

[2022-04-11 11:55] juergen-albert commented on #420
This sums up my intent nicely. If push comes to shove, I can create an injection and handle it like this. In the end, this would be useless code and may make sonarcube or other code quality tools complain and for good reason. Thinking bit more in the direction of the activation Condition for the DS, I ask myself if we would have the same behavior. If so, I would always need to register a Condition

[2022-04-11 12:40] bjhargrave commented on #420
You can inject in a field or constructor parameter and tell sonarcube to shut up about it.

It is not clear from this but I assume you are talking about the satisfying condition.

Conditions are meant to be marker services. The act of service registration implies the presence of the condition. You seem to be wanting to combine the activation of the service object behind the Condition service with

[2022-04-13 16:12] bjhargrave commented on #420
Closing as there is a design mistake in the example code. No DS spec problems identified.

[2022-04-17 13:38] juergen-albert commented on #420
As I had to leave the last call before this issue came up, I'd like to revisit this topic on our next call.

I do understand, that this is a feature, not a bug. I was able to explain the behavior to myself as I realized what happens in real life. This is more an issue of expectations. I would see myself as a seasoned OSGi user and the reaction of myself and everybody I discussed the issue with, be

[2022-04-17 14:35] juergen-albert opened #422 "First Reference link in DS Specifcation is dead"
[code]

The [PDF](http://www-adele.imag.fr/Les.Publications/intConferences/CBSE2003Cer.pdf) is not available anymore under this link. We should either remove it, relink it to its new location or host it ourself if we can dig it up somewhere.

[2022-04-19 09:12] pkriens commented on #422
You can use links to archive.org: https://web.archive.org/web/20061123212733/http://www-adele.imag.fr/Les.Publications/intConferences/CBSE2003Cer.pdf

[2022-04-25 17:03] tjwatson opened #425 "PackageAdmin is easier to use for finding packages than wiring API"
PackageAdmin has been deprecated and replaced with the `org.osgi.framework.wiring` package.

The `FrameworkWiring` API can be used for:
- `PackageAdmin.refreshPackages(Bundle[])`
- `PackageAdmin.resolveBundles(Bundle[])`

The `BundleWiring` API can be used for:
- `PackageAdmin.getExportedPackages(Bundle)`
- `PackageAdmin.getFragments(Bundle)`
- `PackageAdmin.getHosts(Bundle)`

The `BundleRevsion`

[2022-04-27 08:24] maho7791 opened #426 "TCK JaxRS Whiteboard SSE Test is not JaxRs Spec compliant"
Test:
https://github.com/osgi/osgi/blob/main/org.osgi.test.cases.jaxrs/src/org/osgi/test/cases/jaxrs/junit/SSETestCase.java

The test setup expects that the client stops receiving data, when the server side closes the event sink. According to the JaxRs specification, the server side close is handles as a connection loss. The client has to re-establish the connection. So the setup will:
* receive m

[2022-04-27 08:30] maho7791 commented on #426
See PR https://github.com/osgi/osgi/pull/427

[2022-04-27 15:18] timothyjward commented on #426
Fixed by #428

[2022-04-27 15:18] #426 closed

[2022-04-27 15:40] #420 closed

[2022-05-12 11:03] timothyjward opened #434 "Standard way to access `jakarta.json` implementations"
The static `jakarta.json.Json` factory class has all of the usual OSGi problems. We should specify (at a minimum) that implementations register their `jakarta.json.spi.JsonProvider` instances as services, and provide usage examples.

[2022-05-12 12:46] bjhargrave commented on #434
So we need an OSGi JSON spec to address this?

[2022-05-12 13:27] timothyjward commented on #434
I think that we probably do. At the very least there's a problem with the spec API jar (which tries something funky with HK2 and `DynamicImport-Package: *` when in OSGi), and the RI (Eclipse Parsson) which hides the implementation class in a private package with no way to load it.

[2022-05-12 15:02] rotty3000 commented on #434
As a workaround (not as a final solution) does using Aries SPI Fly [Dynamic Weaving by auto properties](https://aries.apache.org/documentation/modules/spi-fly.html#_dynamic_weaving_by_auto_properties) work? All you need to do is install
[code]
and then add
[code]

[2022-05-12 15:54] stbischof commented on #434
We also are interested in doing some Spec work on this topic.

[2022-05-12 16:52] timothyjward commented on #434
Unfortunately my current codebase is way too big and interconnected to try that. I will definitely investigate in the near future as part of this bug using a simple test case.

[2022-05-13 04:55] cziegeler opened #435 "[Feature Spec] Potentially remove mentioning of dependencies between features"
From Mark Raynsford on OSGi users mailing list:

Reading the R8 Feature spec, we see this sentence:

https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.feature.html#d0e156425

"Features may have dependencies on other Features."

There doesn't appear to be anywhere in the spec where a Feature can
declare a dependency on another Feature. I wondered if the implication
was that a Feature can

[2022-05-13 04:56] cziegeler commented on #435
I assume this is a left-over for when we had the idea about prototypes?

[2022-05-13 04:57] cziegeler commented on #435
I assume this is a left-over for when we had the idea about prototypes?

[2022-05-13 04:57] cziegeler commented on #435
I assume this is a left-over for when we had the idea about prototypes?

[2022-05-13 14:59] stbischof commented on #435
Could be a left-over. But there is nothing wrong with sentence.

It must not be "feature-complete" like ([Subsystem-Type: osgi.subsystem.application)](http://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.subsystem.html#d0e111618).

The word `Feature` means the concept not the `Feature-File`.

[2022-05-13 17:02] stbischof commented on #416
Maybe something something like [this](https://github.com/stbischof/osgi-compatibility) ?
maybe it would be good to not just test against one compatible implementaition.

[2022-05-18 09:46] stbischof opened #436 "[jdbc] - DataSourceFactory and Metatype-Support"
In the JDBC-Specification we have a `DataSourceFactory` where you can get create a to `DataSource`, `ConnectionPoolDataSource`, `Driver`, `XADataSource` using the create methods. With the `Properties` argument in this methods you can configure the output.

The spec defines common property-key that CAN be used, like:
[code]
and allows more driver-specific properties.

On the other site, jdbc implem

[2022-05-18 10:07] stbischof commented on #436
After writing it down, i thing that we have all we need.

Just make the DataSourceFactory configurable should work.
[code]

[2022-05-25 16:20] bjhargrave opened #437 "build: Update build to use Java 17 as the build JDK"
The build should be moved to use Java 17 as the build JDK. We will still target Java 8 in class files (using `--release 8`).

Some work is needed to update the spec build process which uses older doclet API to turn the javadoc into docbook. There may also be other areas that need attention.

[2022-05-26 11:00] laeubi opened #438 ""Usefull Links" are actually not very useful"
If I visit https://www.osgi.org/ at the bottom there is a section named "Useful Links", but actually from a non expert eclipse/osgi user these are actually not very useful:

- **Report a Bug** links to https://bugs.eclipse.org/bugs/ beside that bugzilla is about to be shut down a user is most likely confused what all this stuff is about and most probably should better link to github
- **Documentat

[2022-05-26 11:04] laeubi opened #439 ""About us" should tell the user more about OSGi and probably the history"
From a newcomers perspective the "About us" on https://www.osgi.org/about/ is not very informative.

Given that I want to direct new users to learn something about OSGi they are most probably confused when reading the "About us", e.g. it refers to special terms (TCK??) and even "former OSGi Alliance" but do not give a hint how can one learn about the "former", so just in case a user has have never

[2022-05-26 11:09] laeubi opened #440 "Remove the FAQ or fill with actual content"
Currently the "FAQ" contains one entry here https://www.osgi.org/about/faq/ "What is OSGi Working Group?" ... and one might wonder whats the difference between "FAQ" and "About".

So if "What is OSGi Working Group?" being the only frequently asked question, it might be better to disable the FAQ and incooperate it into the "About us"

If one really likes to have a FAQ, these questions should be mor

[2022-05-26 12:30] bjhargrave commented on #440
Thanks for the issue, but this is not the correct repo for the www.osgi.org website. Please open this issue in https://gitlab.eclipse.org/eclipsefdn/it/websites/osgi.org. Thanks.

[2022-05-26 12:30] #440 closed

[2022-05-26 12:30] bjhargrave commented on #439
Thanks for the issue, but this is not the correct repo for the www.osgi.org website. Please open this issue in https://gitlab.eclipse.org/eclipsefdn/it/websites/osgi.org. Thanks.

[2022-05-26 12:30] #439 closed

[2022-05-26 12:30] bjhargrave commented on #438
Thanks for the issue, but this is not the correct repo for the www.osgi.org website. Please open this issue in https://gitlab.eclipse.org/eclipsefdn/it/websites/osgi.org. Thanks.

[2022-05-26 12:30] #438 closed

[2022-05-26 13:55] laeubi commented on #440
See https://gitlab.eclipse.org/eclipsefdn/it/websites/osgi.org/-/issues/52

[2022-05-26 13:57] laeubi commented on #438
See https://gitlab.eclipse.org/eclipsefdn/it/websites/osgi.org/-/issues/53

[2022-05-26 13:58] laeubi commented on #439
See https://gitlab.eclipse.org/eclipsefdn/it/websites/osgi.org/-/issues/54

[2022-05-26 15:08] #124 closed

[2022-05-26 15:11] bjhargrave commented on #54
The new Jakarta contracts are now available at https://docs.osgi.org/reference/portable-java-contracts.html.

[2022-05-30 13:26] juergen-albert opened #442 "Additional default PushBackPolicy"
In `org.osgi.util.pushstream.PushbackPolicyOption` we have a couple of usefull default policies. Aver the last years, we found another one that became our default and I suggest adding it to the exsisting List:

[code]

[2022-06-01 21:18] bjhargrave opened #444 "build: Update spec custom doclet to use new (post JDK 8) doclet API"
As we move the build JDK to 17, the spec javadoc task must still use JDK 8 javadoc due to the custom doclet's use of the older doclet API. The custom doclet needs to be rewritten to use the newer doclet API introduced in JDK 9. However, this is a non-trivial change in the code.

[2022-06-02 00:21] #437 closed

[2022-06-07 12:08] stbischof opened #446 "Handle JDBC_PASSWORD property as a secret"
The propertY `JDBC_PASSWORD` of a DataSourceFactory is a secret.
So it might start with a `.` to make ithis property only accessible for the Service itself.

[code]

[2022-06-07 12:19] timothyjward commented on #446
We should not change the value of this constant. It is intended to match the property name used in the JDBC specification, which is `password`.

If someone wants to supply a password to a component in a configuration dictionary then that property should start with a `.` e.g. `.password`, however the JDBC driver should not be expected to understand this additional syntax.

[2022-06-07 12:21] #446 closed

[2022-06-08 15:18] bjhargrave commented on #442
Call: Agreed this is a good addition. We may also consider some other policies while we are updating the spec version.

[2022-06-15 09:01] julien-carsique-sonarsource opened #447 "org.osgi.service:org.osgi.service.prefs artifacts relocated to org.osgi groupId"
It looks like the `org.osgi.service.prefs` artifacts have been moved from `org.osgi.service` to `org.osgi` group.
https://search.maven.org/artifact/org.osgi/org.osgi.service.prefs
Was it on purpose? If so, relocation POMs are missing at the old locations.

[code]

The issue raised in all our projects this morning (June, 15th, 2022). I worked around internally with two relocations:
- `org.osgi.serv

[2022-06-15 11:42] juergen-albert commented on #447
Not sure where you have gotten the jar from before, but to my knowledge there never has been a org.osgi.service groupid, we released anything under. https://search.maven.org/search?q=g:org.osgi.service shows that such a group does not exists and thus never has existed on maven central.

We have always released under the org.osgi groupid.

[2022-06-15 12:23] julien-carsique-sonarsource commented on #447
It was not clear to me where was set the groupId looking at the bnd files.
The fact that it raised today can be a cache expiration/cleanup that made our Artifactory download the proper POM versus the one it had in cache...
Then, I'm digging on my side where the wrong GAV comes from and will come back to you.
Thank you

[2022-06-15 12:29] bjhargrave commented on #447
POM generation with the groupId `org.osgi` was added to the OSGi build in Nov, 2014.

https://github.com/osgi/osgi/commit/ff497ca563ccda51a3491ccd8333df384c4afe3d

[2022-06-15 12:43] julien-carsique-sonarsource commented on #447
Thank you @PatriceMoreau56 , eclipse-equinox/equinox.bundles#54 is the root cause.

[2022-06-15 12:43] #447 closed

[2022-06-17 07:33] laeubi opened #448 "Provide a service annotation spec"
The DS and Bundle annotations are very useful, what currently is missing (in a standardized way) is something similar for service especially:

- `@ServiceProvider`
- `@ServiceConsumer`
- `@ServiceCapability`

BND already allows such annotations as a custom composite annotation using macros (see https://github.com/bndtools/bnd/tree/master/biz.aQute.bnd.annotation/src/aQute/bnd/annotation/service an

[2022-06-17 10:49] bjhargrave commented on #448
I think any work here would be under #372.

[2022-06-17 10:51] laeubi commented on #448
Why is this related to service loader?

[2022-06-17 10:52] bjhargrave commented on #448
The Bnd annotations you list above are for ServiceLoader.

[2022-06-17 10:55] bjhargrave commented on #448
#403 discussed an annotation for generation osgi.service requirements but the decision was made to not put in OSGi spec and have Bnd define the annotation which Bnd has done.

[2022-06-17 10:56] laeubi commented on #448
ServiceCapability is  http://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.namespaces.html#org.osgi.namespace.service.ServiceNamespace

ServiceProvider/ServiceConsumer is related to SPI but is independent of spyfly part of the framework or not...

[2022-06-17 11:02] laeubi commented on #448
And this is about standardize what BND does so it could be used in a tool agnostic way :-)

Sot at laest there is @juergen-albert and @laeubi already requested by two persons now it might be worth to rethink the decision.
I can't see from the ticket why it was decided that way, but if the argument is that it can be done at BND then one can close this project as for sure everything can be done at B

[2022-06-20 08:41] maho7791 opened #449 "Possible mistake in JaxRs Whiteboard Specification"
https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.jaxrs.html#d0e134849

The properties section mentions a property *service.exported.interfaces* as required with description *Set appropriately to export the Endpoint service using OSGi Remote Services.*.

ThIs seems to be an copy and waste mistake.

[2022-06-22 13:55] stbischof opened #450 "Release JDBC-Spec 1.1"
we have changes on the spec-text, API and TCK

https://github.com/osgi/osgi/pull/429 - [tck jdbc] do expect an exception on not defines properties
https://github.com/osgi/osgi/pull/432 - [jdbc] define properties that indicate capabilities of DataSourceFactory
https://github.com/osgi/osgi/pull/433 - [jdbc-TCK] test capabilities of DataSourceFactory (Junit5 + osgi-test)

I would like to suggest the

[2022-06-22 14:45] rotty3000 opened #451 "[Config Admin] add `config.plugin.id` as a constant to `ConfigurationPlugin`"
I can see no reason that we can have

[code]

and not

[code]

[2022-06-22 14:50] rotty3000 commented on #451
about my only doubt is naming... suggestions welcome.

[2022-06-22 15:34] bjhargrave commented on #449
I think we should probably delete the row in the table.

[2022-06-22 15:36] bjhargrave commented on #449
Table caption is also wrong.

[2022-06-22 16:28] timothyjward commented on #449
The intent of this is to require that the JaxrsEndpoint services registered by the implementation are "exportable". Specifically if you have a remote services implementation running then the other frameworks in your system should be able to discover the endpoints provided.

[2022-06-22 16:53] rotty3000 commented on #451
oh sigh, sorry this is an Apache Felix specific thing... sorry for the noise.

[2022-06-22 16:53] #451 closed

[2022-06-23 12:14] kwin opened #452 "Provide Maven BOM for OSGi Specs"
It would be nice to have a [Maven BOM](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#bill-of-materials-bom-poms) per OSGi specification (Core and Compendium) that lists all most recent individual [OSGi chapter spec dependencies](http://docs.osgi.org/artifacts/#individual-artifacts). Often OSGi container are fully compliant with Core R7 or Compendium R7 so r

[2022-06-23 13:14] bjhargrave commented on #452
I don't think this is true. Having a BOM is useful when a set of artifacts must be used together at prescribed versions. This can be true for the Jakarta EE platform,  the MicroProfile platform, Spring Framework, JUnit, etc. But OSGi is not like that. We do not define a platform. We publish a collection of specifications of which you are free to use in mixed and matched versions as desired.

Furth

[2022-06-23 13:47] bjhargrave commented on #452
I will follow up by also noting that a BOM would have the same issues as the `osgi.cmpn` artifact that OSGi no longer publishes. It creates an implicit coupling between the OSGi specs in the BOM/osgi.cmpn when there is no actual coupling.

[2022-06-23 14:24] bjhargrave commented on #452
OK, but they do not implement every compendium spec. Just the ones they care about and even some of this may have had little attention recently.

I have seen the issues with the implicit coupling caused by using `osgi.cmpn`. It caused the bundle to uplevel its use of any OSGi spec it touched. So if I have a bundle that uses Config Admin and also Promises, just because I need to use the latest Conf

[2022-06-23 14:26] kwin commented on #452
Exactly, that is also why a BOM only defines dependencyManagement (i.e. you still need to reference the needed chapter dependencies, just without version)

[2022-06-23 14:39] bjhargrave commented on #452
And this is dangerous as it create implicit version coupling. Felix SCR needs to implement the DS spec at the latest version. The DS spec uses the Promise spec but only at the 1.0 version. The BOM will expose Felix SCR to the latest version (1.2) of the Promise spec which means that Felix SCR will import the highest version of the Promise spec when it only needs the 1.0 version of the Promise spec

[2022-06-23 14:45] kwin commented on #452
Right, but isn't this a very theoretical case? Which OSGi container has DS 1.5 but Promise 1.0?

I agree with that principle, still managing all spec chapters versions individually is often painful, therefore developers stay with the worse aggregate dependencies. A BOM would not prevent anyone from defining versions themselves. I rather see it as vehicle to migrate from aggregate to individual spe

[2022-06-23 14:51] bjhargrave commented on #452
You keep saying "OSGi container" like it is a defined platform. OSGi usage is a framework plus whatever bundles you want.

In my experience it is not theoretical and is the reason OSGi retired the `osgi.cmpn` artifact.

I don't see how it does that since one must still specify the dependency in their POM. The BOM only removes the need to include the version. And my argument is that this is a probl

[2022-06-23 14:56] bjhargrave commented on #452
In fact the `osgi-test` project deals with this in regard to the Promise API version:

https://github.com/osgi/osgi-test/blob/ad65c29d0eddb15f6b5a40f6b40bbb734516ea4e/pom.xml#L54-L57

The project needs to support users with Promise 1.0 and so it compiles against Promise 1.0, but it also needs to test against the latest version.

[2022-06-23 16:22] maho7791 commented on #449
But then we should remove the require tag from the line

[2022-06-23 17:20] timothyjward commented on #449
Why? I'm not sure what the disadvantage or overhead is in saying that the implementation must register the service with `service.exported.interfaces=org.osgi.service.jaxrs.runtime.JaxrsEndpoint`

[2022-06-23 18:20] maho7791 commented on #449
Just to get it right. Every successful registered resource and application must register this service?

If yes, is that covered by the TCK? I believe not. Because we didnt implemented this in the Jersey Whiteboard 😔. In the end we need to parse the resources and applications for jaxrs annotations as well to get these information as long as jersey does not provide the necessary information.

[2022-06-25 05:51] laeubi opened #454 "Provide a ServiceRegistration#tryUnregister() method that returns a boolean instead of throwing an exception"
Currently the most annoying part when working with `ServiceRegistration` is its behavior to throw an `IllegalStateException` when it has already unregistered and I always wondered what code should do with it, for sure my intend is to unregister it, so if it is already unregistered, fine than I'm a bit late at the party but what should I do then?

So I almost always see some code like this where `S

[2022-06-27 08:26] maho7791 commented on #449
It seems this also could have been realized using the conditions? So, I would go for the proposed removal.

[2022-06-28 07:43] laeubi opened #455 "[proposal][jpa] support JNDI Datasources"
In the `persistence.xml` it is possible to [define JNDI datasources to use](https://docs.oracle.com/cd/E16439_01/doc.1013/e13981/cfgdepds005.htm#BEIJJCGH).
The OSGi JPA Spec currently only covers the case where a `DataSourceFactory` is used, but especially when running inside managed containers it would be useful to support JNDI as well.

[PAX JPA implementation](https://github.com/ops4j/org.ops4j

[2022-07-04 13:49] glimmerveen opened #456 "Explicit timeout handling on Promise API"
Currently, when a timeout is specified on a promise, the Promise returned by timeout fails with a TimeoutException when the upstream promise did not resolve beforehand. Handling of a timeout relies on the same operations as "regular" failures.

If in the failure handling you want to distinguish between a timeout or application failure, you'll need to do an `instanceof` check on the _failure_, whic

[2022-07-04 16:52] bjhargrave commented on #456
I am convinced this is not a good idea. It would require to spec to define two callback queues (for non-timeout callbacks and for timeout callbacks). And then also to call the right call back depending on the exception type of the failure.

The correct answer here is to do the instanceof check you already mention. Timeout is just one of many exception types which can be present in a promise failur

[2022-07-04 17:14] rotty3000 commented on #456
it's pretty nice as it is if you use Java pattern matching switch:
[code]
I think we should not change API where the Java language is improving on our behalf.

[2022-07-06 14:52] bjhargrave commented on #449
I am ok with removing the reference to remote services.

[2022-07-08 07:34] glimmerveen commented on #456
I was not necessarily suggesting a separate callback queue for timeout related callbacks, but more like additional timeout-specific convenience operations based on the current capabilities/structure. Separate callback queues would address some of the downsides I mentioned, but I fully understand that would be a risky change while also trying to retain the current behaviour: that is most likely not

[2022-07-15 07:35] glimmerveen commented on #456
Thanks for this proposal, I think it would be a useful addition! I left some comments on  #461 with some suggestions on the API.

[2022-07-20 15:24] #456 closed

[2022-07-20 15:51] bjhargrave commented on #454
Call: We should survey the use of throwing IllegalStateException in the framework API and make recommendations to elide that for the "closing" methods. (removeListener, ungetService, unregister).

[2022-07-20 15:56] #452 closed, assigned to nobody

[2022-07-22 10:47] laeubi opened #463 "[proposal][connect] allow registration of FrameworkUtilHelper directly"
Currently `FrameworkUtilHelper` are registered SPI lookup. While using Framework-Connect I found two issues by this approach:

1. As the `FrameworkUtilHelper` is constructed out-of-band it has no way to get any information beyond the class file itself, anything else has to be provided by using some other kind of lookup, e.g. using static shared fields.
2. A `ModuleConnector` needs to get a  `Frame

[2022-07-22 11:50] mkoncek opened #464 "Restructure project"
Hi, as a package maintainer, I have a few problems with this project. In our distribution, we build a stripped version of this project and without access to Gradle.
1. `.jar` bundling:
    - Cloning of this repo downloads 900 MB of data, most of which are stripped right away.
    - Git is not meant to store binary dependencies. There are other repositories like Maven Central.
2. File hierarchy:

[2022-07-22 11:51] mkoncek commented on #464
And another question: Why are there almost empty directories like `osgi.cmpn`?

[2022-07-22 12:29] mkoncek commented on #464
If nothing else, could you please at least use traditional hierarchy in your published maven artifacts?
https://repo.maven.apache.org/maven2/org/osgi/

There are multiple occasions of `.jar` files containing effectively a single `.java` file.

[2022-07-25 13:16] laeubi commented on #448
To summarize what was discussed at the Spec call from the top of my head:

1. [ServiceCapability](https://github.com/bndtools/bnd/blob/master/biz.aQute.bnd.annotation/src/aQute/bnd/annotation/service/ServiceCapability.java)(s) should go to the "core" spec in a way that is suitable for not using macros, reworking the annotation in a way that do not needs macros and rethinking what properties to cho

[2022-07-25 13:33] #464 closed

[2022-07-26 15:58] tjwatson commented on #463
We have this old bugzilla defect to consider https://github.com/osgi/bugzilla-archive/issues/2999

That seems difficult to achieve from static code when it has to know about individually launched framework instances.

Atomos has a single helper that gets discovered by the `FrameworkUtil` class.  Then all instances of Atomos register with it.  See https://github.com/apache/felix-atomos/blob/master/

[2022-07-26 16:05] laeubi commented on #463
The problem is that this requires that this calls is on the application classpath and all other code can access this as well, I have done a little "hack" already but that's far from perfect and requires some reflection magic:

https://github.com/eclipse/tycho/blob/master/sisu-osgi/sisu-osgi-connect/src/main/java/org/eclipse/sisu/osgi/connect/PlexusFrameworkUtilHelper.java

My idea was that one has

[2022-07-26 17:49] tjwatson commented on #463
If `PlexusFrameworkUtilHelper` can be discovered by the `FrameworkUtil` use of service loader and you have other parts that want to be a `FrameworkUtilHelper` would they not already have to have access to `FrameworkUtilHelper` in order to implement it and `PlexusFrameworkUtilHelper` because it is on the same classpath as `FrameworkUtil`?  If so, cannot the other parts just register directly with `

[2022-07-27 14:59] laeubi commented on #463
It is a bit more complex, because there are multiple class pathes (in maven they are called realms), so the classloader that is capable of instantiate the frameworkutil is not necessarily the one that is creating a connect framework, so if the different components ask for `PlexusFrameworkUtilHelper` they will get different classes, an not necessarily the ones that  `FrameworkUtil` loads, even wors

[2022-07-27 16:04] laeubi commented on #463
Either that, or the `FramworkUtil` could call a static method in the `org.eclipse.osgi.launch.EquinoxFactory` or what ever seems suitable. At least for the implementation one can be sure it *must* be from the same classloader....

e.g. lets say I have the following classloaders:

1. Classlaoder "F" that loads "the framework" (aka `org.eclipse.osgi`)
2. Classloader "A" that contains some code that

[2022-08-01 13:05] stbischof opened #465 "Fix type in metatype"
a comma is missing.

https://github.com/osgi/osgi/blob/0e2a234dc5d5b3b9e91c3638895647a626bc4daa/osgi.specs/docbook/105/service.metatype.xml#L1486

[2022-08-04 05:45] laeubi opened #466 "[proposal][connect] allow marking a ConnectContent as resolved"
When creating a connect-framework one has the ability to provide a classloader for a bundle, but OSGi still tries to resolve the Bundles imports, this can lead to the situation that resolving fails because of missing packages.

It would be good to allow  `ConnectContent` to express in some way, that a missing requirement should be fulfilled by the `ConnectContent` itself (e.g. a missing package is

[2022-08-04 14:39] tjwatson commented on #466
This could be problematic.  If we don't resolve dependencies against other bundles (connect or otherwise) then it risks losing class space consistency.  I realize that a connect class loader could throw out class space consistency anyways, but I prefer to keep the requirements model as clean as we can at the framework level.

The ModuleConnector should provide ConnectContent for all that is requir

[2022-08-04 14:42] laeubi commented on #466
I don't think that resolving should be skipped completely, but if a package is required (but not found anywhere) it would be useful to consume it from the `ConnectContent`, I don't thing this is problematic because it can't be resolved anywhere anywhere else?

[2022-08-23 09:58] aschaich opened #469 "oss-fuzz integration"
Hi all,

we have prepared the [Initial Integration](https://github.com/CodeIntelligenceTesting/oss-fuzz/commit/37e4a5c0f509e0358765a2b16521b2211621189f) of osgi into [Google OSS-Fuzz](https://github.com/google/oss-fuzz) which will provide more security for your project.

Why do you need Fuzzing?
The Code Intelligence JVM fuzzer [Jazzer](https://github.com/CodeIntelligenceTesting/jazzer) has alread

[2022-08-23 20:24] bjhargrave opened #470 "Core: Clarification on multi-release containers and Bundle.getEntry"
The Core spec was previously updated to support Multi-Release JARs.

In the Core spec, the concept of [_containers_](https://docs.osgi.org/specification/osgi.core/8.0.0/framework.module.html#framework.module.bundleclasspath) was defined.

Any container can be a [_multi-release container_](https://docs.osgi.org/specification/osgi.core/8.0.0/framework.module.html#framework.module-multireleasecontain

[2022-08-23 20:49] tjwatson commented on #470
See https://github.com/osgi/design/blob/main/rfcs/rfc0238/rfc-0238-Multi-Release-Jar-Support.pdf

[code]

I'm pretty sure the TCK has an assertion for this section of the RFC.

[2022-08-23 20:52] bjhargrave commented on #470
It is possible this changed post-RFC or the spec writing failed to capture this.

[2022-08-23 21:06] tjwatson commented on #470
Perhaps it needs clarification in the specification.  But there are assertions in https://github.com/osgi/osgi/blob/main/org.osgi.test.cases.framework.launch/src/org/osgi/test/cases/framework/launch/junit/MultiReleaseJarTestCase.java that test this.  So all compliant frameworks behave this way.

The term container here is in the context of the class loading section of the spec so I believe the int

[2022-08-31 14:11] #466 closed

[2022-08-31 15:22] #454 closed

[2022-08-31 15:39] bjhargrave commented on #470
Call: Update Core spec to make clear getEntry does not participate in multi-release shenanigans. Update DS spec to discuss multi-release: tools are not required to process version folders, component impl class should not be versioned and should instead depend upon a versioned helper class if necessary.

[2022-08-31 15:44] bjhargrave commented on #469
After discussion, this project is not currently interested in this.

[2022-08-31 15:44] #469 closed

[2022-08-31 15:56] #449 closed

[2022-08-31 16:20] #436 closed

[2022-08-31 20:25] bjhargrave opened #472 "TCK updates for #462"
With the changes in https://github.com/osgi/osgi/pull/462, we need to update the framework TCK to confirm the new behavior.

[2022-08-31 20:36] bjhargrave commented on #455
When we update the JPA spec, we also need to update for jakarta namespace.

[2022-09-13 05:17] laeubi commented on #463
From the prototyping there are the following options to archive this:

### Let [ModuleConnector](https://github.com/osgi/osgi/blob/main/org.osgi.framework/src/org/osgi/framework/connect/ModuleConnector.java) optionally implement [FrameworkUtilHelper](https://github.com/osgi/osgi/blob/main/org.osgi.framework/src/org/osgi/framework/connect/FrameworkUtilHelper.java)
Pro

- Do not requires any change

[2022-09-13 13:15] bjhargrave commented on #463
If we add a default method, then it is only a minor version bump.

Overloads of a method are also awkward as we need a new overload for each new parameter.

My preference would be the new default method on ModuleConnector.

[2022-09-13 14:03] tjwatson commented on #463
My preference is a new method on ModuleConnector followed by allowing ModuleConnector to optionally implement the helper.  In both case this allows the framework to auto clean the helper when the ModuleConnector is not being used by an initialized framework instance.

[2022-09-14 18:52] bjhargrave opened #474 "Need CM compatible implementation update for TCK change"
Related Issue in Felix-Jira: https://issues.apache.org/jira/browse/FELIX-6470

_Originally posted by @stbischof in https://github.com/osgi/osgi/issues/343#issuecomment-1163116780_

[2022-09-16 19:41] bjhargrave opened #476 "Additional BundleContext methods that may be changed to not throw exception on closed context"
In a follow on to #462, the question was raised about what other methods of `BundleContext` can be relaxed to operate after the `BundleContext` is closed.

After analysis, the following methods are safe to operate on a closed `BundleContext`:

* `createFilter`
* `getProperty`

Neither of these methods relate to a bundle or its context in anyway. They operate at the framework level.

Service relate

[2022-09-16 19:42] #422 closed

[2022-10-07 11:55] maho7791 commented on #385
The latest Gecko REST Jersey Jakartars Whiteboard implementation runs the Jakartars TCK with 53 successful and 4 failing tests.
Sometimes the ClientTestCase#testJaxRsClientService looks flaky, It sometimes returnes a 200 where a 404 should be returned. Obviously a previous jakartars resource wasn't properly removed.
Running this test alone, never showed this behavior.

[2022-10-09 07:58] cziegeler opened #481 "[Proposal][DS] Add attribute to @Reference annotation to specify minimum cardinality property"
The [minimum cardinality property](http://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.component.html#service.component-minimum.cardinality.property) is a reference property which needs to be set on the component and therefore if this value is specified in code already it needs to be set via the property attribute of the component annotation.
While this works, we could make this closer to t

[2022-10-12 08:27] timothyjward commented on #385
The Gecko REST implementation is now passing the whole TCK. I think that PR #417 is now ready to merge into the main branch, and the specification ready to begin the release process.

[2022-10-14 04:31] laeubi commented on #354
Still useful.

[2022-10-14 04:33] laeubi commented on #346
Still an issue, e.g P2/ECF currently "blows away" the authenticator so one has only the choice to hope no one else has already a need for it.

[2022-10-14 04:33] laeubi commented on #280
Still required.

[2022-10-14 04:35] laeubi commented on #279
Still the most useful feature of PAX JPA, hardcoding values in xml files is just not an option...

[2022-10-14 08:36] stbischof commented on #290
Interfaces could be analyzes do create MetatypeInformation (bnd) and inject into the service (felix)

What was the reason to not put this into the spec?

1 - bnd -dsannotations-options: felixExtensions
2 - [felic-scr](https://github.com/apache/felix-dev/blob/3e5671ae7e5107f4f849ef9d5f0a89b1ba9d7439/scr/src/main/java/org/apache/felix/scr/impl/xml/XmlHandler.java#L215) ATTR_CONFIGURE_WITH_INTERFACES

[2022-10-25 03:28] cziegeler commented on #474
This case actually raises an interesting question about how notifications happen when the coordination finishes.
Simplified use case: managed service is registered, it gets updated with null. Now a coordination starts, a configuration is created, and then deleted before the coordination finishes. The coordination then finishes. Is the managed service notified at all as the state before the coordin

[2022-10-25 08:36] bjhargrave commented on #474
For coordinations, the goal is to avoid observing intermediate states. So when the coordination ends, CM must only notify with the final config state. So this means the CM impl should be able to collapse multiple changes to a config during a coordination to a single notification.

Given this, both the TCK tests for coordination and the impl need to change.

[2022-10-25 08:57] timothyjward opened #486 "Remove IllegalStateException from `BundleContext#getBundle()`"
The `BundleContext` interface extends `BundleReference` and therefore has the `getBundle()` method. The JavaDoc for `getBundle` in BundleReference gives no indication that the method might fail.

As with other methods in `BundleContext` that have been relaxed recently, I feel that the `getBundle()` method should continue to  work after a BundleContext has become invalid, even if it is returning an

[2022-10-25 09:00] bjhargrave commented on #442
Spec version bump. Also need TCK test.

[2022-10-25 10:16] bosschaert commented on #43
This was fixed http://svn.apache.org/viewvc?view=revision&revision=1855240

[2022-10-25 10:16] #43 closed

[2022-10-25 17:18] stbischof commented on #474
I take the tck part.

[2022-10-25 20:01] cziegeler commented on #474
@stbischof  I just updated the implementation in Apache Felix. There, I added these tests: https://github.com/apache/felix-dev/blob/master/configadmin/src/test/java/org/apache/felix/cm/integration/CoordinatorIntegrationTest.java

[2022-10-26 06:45] cziegeler commented on #381
Due to rebasing problems I moved the code to a new branch https://github.com/osgi/osgi/tree/design/381-clean

Created a PR
https://github.com/osgi/osgi/pull/490

[2022-10-26 09:12] jjh-aicas opened #492 "Add resource enforcement"
RFP 189—Resource Enforcement is an accepted FRP from the OSGi alliance.  The technical design is required as a next step in development.

[2022-10-27 21:12] HannesWell commented on #316
As far as I know you worked on the upcoming specs during the OSGi Summit/EclipseCon and wanted to ask if this proposal was considered for 8.1 or is still targeted for R9?

[2022-10-28 10:00] cziegeler opened #499 "Remove javax servlet based Web Applications Specification"
Should we drop https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.war.html#service.war for the 8.1 release?
With the update of the servlet whiteboard specification to Jakarta and the removal of http.service, I think we should also remove this specification from the release. Especially, as it is for example not possible to implement it with some of the Jakarta EE based servlet containers.

[2022-10-28 10:39] cziegeler opened #500 "Update specifications wrt removal of http service specification"
With the removal of the http service specification and the change to Jakarta APIs, we should potentially update references to those throughout our specifications.

I did some first changes in https://github.com/osgi/osgi/tree/issues/500

These are the remaining places where we need to decide to either leave them or update:

- osgi.specs/docbook/135/service.namespaces.xml - the namespaces spec cont

[2022-11-01 19:12] bjhargrave commented on #316
We worked on a Compendium R8.1 plan. For Core, we still plan for the next release to be R9.

[2022-11-04 20:55] #442 closed

[2022-11-04 21:47] bjhargrave opened #501 "org.osgi.service.log.stream implementation fails with pushstream 1.1"
OK, but the TCK for org.osgi.service.log.stream failed. Did you diagnose that?

_Originally posted by @bjhargrave in https://github.com/osgi/osgi/issues/494#issuecomment-1304257700_

The org.eclipse.equinox.log.stream impl imports pushstream with the wrong version range. It should be importing with `[1.0,2.0)`. See https://github.com/eclipse-equinox/equinox/pull/151

[2022-11-04 21:48] bjhargrave commented on #501
We will need this fix for the compatible implementation of log.stream.

[2022-11-06 18:49] laeubi commented on #354
I have though a bit more about this, would it be an option to require such annotation to use the `@ComponentPropertyType`? That way DS could distinguish between "normal" annotations-as-a-service (even though I have no clue why one should ever do that) and ones meant as configuration objects.

[2022-11-07 15:29] bjhargrave commented on #354
Except you want service properties coerced into the type, not component properties. So using `@ComponentPropertyType` to annotated the target type would be a misuse of `@ComponentPropertyType`. It would need a new meta-annotation like `@ServicePropertyType`.

And this coercion would need to supported for field injection and constructor injection as well as method injection.

[2022-11-07 15:35] laeubi commented on #354
That is true, but if there would be a restriction you can only use "special annotated" annotations I think it would be sufficient so just take this as an example :-)

That sounds reasonable.

- [x] method is obvious I think and what I have in mind
- [ ] constructor not sure, what will one get there? I would have assumed this are the usual **component** properties there?
- [ ] field seems odd, how

[2022-11-07 15:44] bjhargrave commented on #354
A further problem with this would be that SCR needs to know whether the injection point represents service property coercion (or just a service) at runtime. But inspecting the injection point for some annotation means the annotation must be runtime retention which is a thing we have strenuously avoided for the DS annotations to avoid the package dependency. So, we would need to amend the behavior

[2022-11-07 15:56] laeubi commented on #354
At least I would be fine with using this feature for methods only (if it makes thing easier) and as simple as instead of matching

void setSomeService(`MyService` service, `Map`)

match

void setSomeService(`MyService` service, `AnnotationInterface`)

so maybe here https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.component.html#service.component-method.injection

between 5 and 6 having

[2022-11-07 15:56] bjhargrave commented on #354
There is also a challenge for method injection since the bind method represents a single reference but can take multiple arguments representing the "shape" of the reference (service object, service properties). So we cannot use the xml for the reference to describe the different bind methods arguments like we can for field and constructor injection where each injected value is described by a diffe

[2022-11-07 16:44] laeubi commented on #354
With the possible ambiguities I wonder if a tool might can encode the method signature in the xml? That would (independently of this change) even prevent DS from searching and matching methods but can request a very specific one.

[2022-11-08 23:05] #501 closed

[2022-11-09 09:49] cziegeler commented on #381
The code base has been updated accordingly, all tests are in place (with the same coverage as previously for the http whiteboard specification), spec chapter builds fine.
A release candidate of the API 2.0.0-RC1 has been released. I've updated the implementation in Apache Felix to use this api and started the release vote.

[2022-11-09 11:55] #474 closed

[2022-11-09 16:19] bjhargrave commented on #450
In plan for Compendium R8.1.

[2022-11-09 16:35] laeubi commented on #499
I pinged the pax-web people here:
- https://github.com/ops4j/org.ops4j.pax.web/issues/1790

as I know they are quite active in that area an might want to help / participate here!

[2022-11-09 16:57] grgrzybek commented on #499
First, let me add a reference to my related questions in [FELIX-6574](https://issues.apache.org/jira/browse/FELIX-6574?focusedCommentId=17630811&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-17630811).

Responding to ops4j/org.ops4j.pax.web#1790, my first rough answer would be - let's keep the chapter 128 with minor changes:
* replace JavaEE references with JakartaE

[2022-11-09 17:17] bjhargrave commented on #499
In addition to these suggested spec changes, we will then need a new compatible implementation which supports the Jakarta Servlet API and to update the TCK for the Jakarta Servlet API. The [current implementation](https://github.com/osgi/osgi/blob/main/cnf/repo/org.osgi.impl.bundle.webcontainer/org.osgi.impl.bundle.webcontainer-7.0.0.lib) is a rather old one based upon the [Eclipse Gemini](https:/

[2022-11-09 17:29] grgrzybek commented on #499
Could Pax Web be a candidate for Chapter 128 RI? Is felix.http implementing this specification (afaik - it's not)?

About TCK - I remember once I tried to look around it, but I had hard time running it - I didn't even manage to start testing Pax Web using it ;) Maybe I'll need a second look.

[2022-11-09 19:09] bjhargrave commented on #499
I think so since it is available under AL2. I assume the artifacts are available from Maven Central.

I don't believe it does.

In the build, you can use the `testOSGi` gradle task to run the TCK in development mode.

[2022-11-09 20:27] maho7791 commented on #499
Jetty 9 supported it. I tried that with the bnd -wab instruction and it
worked.

I gave it a try with the Jetty 11 Felix WAB dont work anymore, but in
plain Jetty 11 WAB still works with jakarta.servlet.

There is still documentation to be migrated:
https://www.eclipse.org/jetty/documentation/jetty-11/old_docs/index.html#_support-for-the-osgi-service-platform-enterprise-specification

Regards,

Ma

[2022-11-10 06:40] grgrzybek commented on #499
Interesting - I didn't know about this...

[2022-11-10 07:38] cziegeler commented on #499
Apache Felix Http Jetty 4.x supports the current specification (javax.servlet based). Starting with version 5 the switch to Jetty 11 makes it hard to implement. If the specification gets updated to jakarta.servlet, we might add the support for it back if users demand it.

[2022-11-13 08:17] #381 closed

[2022-11-14 15:47] bjhargrave opened #509 "Define `deprecated` directive for capabilities"
Things get deprecated over time and Java has a deprecation annotation and javadoc tag to produce warnings for users during compilation.

But we currently have no defined way for a capability to declare itself deprecated. [For example](https://github.com/eclipse-equinox/equinox/issues/18), refactoring of a product could lead to a situation where a bundle is hollowed out and other bundles should sto

[2022-11-14 16:15] laeubi commented on #509
Just wondering, but defining such think "only" would make it official so something like this is already legal?

[2022-11-14 16:31] bjhargrave commented on #509
It would be a good practice to define custom directives in an OSGi specified namespace with some prefix like `x-`. But in this case, since OSGi is proposing a new directive, using the proposed new directive in Equinox should be fine as it gives some use experience.

The OSGi specifications require the ignoring of unknown directives, so it is safe to add this. For a `deprecated` directive, I would

[2022-11-14 16:38] tjwatson commented on #509
Adding the directive looks to be pretty straight forward.  Before adopting the use of it I would like agreement on the value of the directive.  The suggestion is the value will be some human readable message.  Then tools can use that message to provide warnings to the user during bundle development/build time.  That seems reasonable to me, but it has the limitation of not being translatable.  We h

[2022-11-14 16:44] bjhargrave commented on #509
Directive values are always String. So we know the type of the value.

The question is what does the string value mean? I assume it is like the value in the javadoc deprecated tag: `@deprecated "some deprecation message"`. That is, it is for developers and not end users. So the value is not meant for i18n.

[2022-11-14 16:54] tjwatson commented on #509
That is fine with me.

Because we don't allow directives to be translated today, so that is new and makes it more complicated.

My vote is to make it clear that the value is not meant for i18n.

[2022-11-14 16:57] bjhargrave commented on #509
Sure, that is a fine implementation choice for a framework implementation. But the OSGi spec will not specify that.

[2022-11-14 17:18] HannesWell commented on #509
This proposal is really a missing piece in OSGi that I would find useful, I already wonder in the past how bundle/package level deprecation should be expressed in a technical way (besides announcing it somewhere).

I agree on this for the reason Christoph mentioned.

And looking at the `@java.lang.Deprecated` annotation, I wonder if it would be useful to have a `since` and `forRemoval` value as we

[2022-11-14 17:24] bjhargrave commented on #509
That is getting too complex.

I think the model is the javadoc `@deprecated` tag and not the `@Deprecated` annotation. The string value can contain any since information and removal plans as well as, to me the most important thing which is missing from the `@Deprecated` annotation, what does the developer need to do to replace the deprecated usage.

[2022-11-14 17:45] HannesWell commented on #509
Agree. I already thought that it is definitely not elegant.

That's definitely the most interesting thing since whatever is deprecated should not be used regardless of if and when it will be removed. I mainly just wanted to mention those aspects and maybe it would be useful to make suggestions/examples in the spec that it could be done the way you suggested, if somebody really wants to add those i

[2022-11-14 17:49] laeubi commented on #509
I must confess that for me any deprecated stuff is something I should get rid of. This "for removal" is just a hack, because Java deprecated stuff but never removed it (so people just ignored that) and need a way to say "this is REALLY deprecated" ...

[2022-11-15 17:21] kwin opened #511 "Clarify service ranking for default ServletContextHelper of HTTP Whiteboard spec"
Currently it is not clear from the spec at https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.http.whiteboard.html#service.http.whiteboard.servletcontext which ranking the default ServletContextHelper service should have (by default).

This is important e.g. to register a servlet on "/" for another context as this other context must have a lower service ranking, as otherwise no default co

[2022-11-16 06:09] cziegeler commented on #511
I agree that it makes sense to include this in the specification as all implementation should use the same service ranking for the default context to make applications portable across implementations.

Other servlet contexts registered at the root can have a higher service ranking than the default context and servlets registered with the default context will still be called. Unless there is a serv

[2022-11-16 07:10] kwin commented on #511
As you outlined correctly in the majority of cases other context should rank higher than the default but for edge cases it should be possible to rank lower. With the default being `Integer.MIN_VALUE` a lower ranking is not possible, i.e. one has to rely on

That is not very predictable as the service ID depends on the starting order.
Why not giving the default context a ranking like -10000, which

[2022-11-16 13:09] bjhargrave commented on #511
In my reading of the spec, it does not state that the implementation-provided default ServletContextHelper is a registered service. It is just referred to as an implementation. So I do not see that the spec needs to state anything about the service ranking of the implementation-provided default ServletContextHelper since it is not specified to be a registered service.

[2022-11-16 13:19] kwin commented on #511
Even if it not necessarily a registered service one needs to know how to create contexts which rank higher or lower than the default.

[2022-11-16 13:23] bjhargrave commented on #511
If there is no ServletContextHelper service registered with the service property `osgi.http.whiteboard.context.name=default`, then the implementation-provided default ServletContextHelper is used.

If some bundle registered a ServletContextHelper service with the service property `osgi.http.whiteboard.context.name=default`, then it is claiming the role of the default ServletContextHelper and imple

[2022-11-16 13:28] kwin commented on #511
I don’t think one should be forced to overwrite the default just to get a predictable order…

[2022-11-17 06:00] cziegeler commented on #511
When I suggested to mention the service ranking for the default context, I wasn't literally meaning to specify that this service is registered with that ranking but along the lines of the context behaving like if it is registered with such a ranking.
But I'm also leaning towards @bjhargrave opinion. The reason why the Apache Felix implementation choose to register the default context as a service

[2022-11-21 06:12] #511 closed

[2022-11-22 07:13] cziegeler opened #514 "Test cases for Whiteboard Specification for Jakarta Servlet assumes default context to be registered as a servlet"
There are currently 8 tests assuming that the default ServletContextHelper is registered as a service in the OSGi service registry. However, the specification does not mandate this.
Up to now, the Apache Felix implementation registered the default context as a service, therefore the tests did pass for that implementation. Recently the implementation changed and does not register the default contex

[2022-11-28 18:20] #509 closed